<!-- vim: set spelllang=es_mx: -->
<h1 id="recursión">Recursión</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#algorithms</code> <code>#data-structures</code> <code>#post</code></span>
</p>

<p>
La recursión es una técnica de diseño de algoritmos muy útil que permite formular soluciones de forma natural a un gran número de problemas. En este documento trato de dar una breve introducción a este tema mediante algunos sencillos ejemplos. Se proporciona una breve descripción del problema, el análisis de la solucion recursiva y además el código de la solución con el fin de que al lector le sea posible poner en práctica cada algoritmo de manera inmediata.
</p>
<blockquote>
En ciencias de la computación, la recursión es una técnica de diseño de algoritmos donde un método, procedimiento o función hace llamadas a sí mismo, evitando caer en un ciclo infinito, ya que el algoritmo debe terminar en algun momento, una caracteristica de todo algoritmo.
</blockquote>
<p>
Un algoritmo recursivo consiste en simplificar un problema en cada llamada recursiva y que a su vez tiene una solución muy parecida a la original.
</p>
<p>
Como ya se dijo, nuestro algoritmo debe terminar en algún momento, es decir, debe existir un estado donde el problema es lo bastante simple para ser resuelto directamente sin necesidad de seguir con las llamadas recursivas. A este estado se le conoce como <em>caso base</em>. Cada algoritmo recursivo debe tener al menos un caso base.
</p>
<p>
Los algoritmos recursivos están muy relacionados con otra técnica de diseño de algoritmos: divide y vencerás. Un algoritmo divide y venceras consite en dividir un problem complejo en subproblemas del mismo tipo más simples, resolver cada uno de ellos y por último combinar las subsoluciones para dar lugar a la solución del problema original. Más adelante veremos un ejemplo.
</p>
<h2 id="ejemplos-de-problemas-recursivos">Ejemplos de problemas recursivos</h2>
<p>
Si una imagen dice más que mil palabras entonces un código también.
</p>
<h2 id="factorial">Factorial</h2>
<p>
La función factorial tiene la siguiente definición:
</p>
<p><span class="math display">$$n!= \begin{cases} 1 &amp; \text{si n = 0} \\\\ n(n - 1)!&amp; \text{si n &gt; 0} \end{cases} $$</span></p>
<p>
Antes de proceder con la implementación veamos un ejemplo para ver como se comporta esta función. Sea <em>n = 4</em>.
</p>
<p><em>4! = 4 * 3! = 4 * (3 * 2!) = 4 * (3 * (2 * 1!)) = 4 * (3 * (2 * (1 * <b>0!</b>))) = 4 * (3 * (2 * (1 * <b>1</b>))) = 24.</em></p>
<p>
Veamos ahora una implementación de esta función en C.
</p>
<p>Embed: <code>factorial.c</code></p>
<p>
La condición en la línea 2 es nuestro caso base, el problema se puede resolver directamente sin necesidad de continuar con la recursión. Más adelate cuando generemos permutaciones vera la relación que existe entre la función factorial y el número de permutaciones.
</p>
<h2 id="máximo-común-divisor">Máximo común divisor</h2>
<p>
En matemáticas el máximo común divisor de dos o más números diferentes de cero es el máximo entero que divide a estos mismos de manera exacta, es decir, con residuo igual a cero. A continuación se describe el método de euclides para determinar el MCD de dos números.
</p>
<p>
Dados dos números <span class="math inline"><em>a</em></span> y <span class="math inline"><em>b</em></span> tal que <span class="math inline"><em>a</em> &gt; <em>b</em></span>, el método de Euclides para encontrar el MCD de estos dos números consiste en obtener el residuo de la división entera de <em>a</em> sobre <em>b</em>, <span class="math inline"><em>r</em> = <em>a</em> mod  <em>b</em></span>, ahora <em>a</em> pasa a ser <em>b</em> y <em>b</em> pasa a ser <em>r</em>. Estos pasos se repiten hasta encontrar un residuo igual a cero. El último residuo diferente de cero es el MCD que buscamos.
</p>
<p>
Un ejemplo siempre ayuda. Sea <span class="math inline"><em>a</em> = 489</span> y <span class="math inline"><em>b</em> = 324</span>.
</p>
<ol type="1">
<li><span class="math inline"><em>r</em> = 489 mod  324 = 165</span> ahora <span class="math inline"><em>a</em> = 324</span> y <span class="math inline"><em>b</em> = 165</span>.</li>
<li><span class="math inline"><em>r</em> = 324 mod  165 = 159</span>, ahora <span class="math inline"><em>a</em> = 165</span> y <span class="math inline"><em>b</em> = 159</span>.</li>
<li><span class="math inline"><em>r</em> = 165 mod  159 = 6</span>, ahora <span class="math inline"><em>a</em> = 159</span> y <span class="math inline"><em>b</em> = 6</span>.</li>
<li><span class="math inline"><em>r</em> = 159 mod  6 = 3</span>, ahora <span class="math inline"><em>a</em> = 6</span> y <span class="math inline"><em>b</em> = 3</span>.</li>
<li><span class="math inline"><em>r</em> = 6 mod  3 = 0</span>, ahora <span class="math inline"><em>a</em> = 3</span> y <span class="math inline"><em>b</em> = 0</span>.</li>
</ol>
<p>
En este punto <em>b</em> vale cero y por tanto el algoritmo ha terminado, el último residuo diferente de cero es 3 y por ende el MCD(489, 324) = 3. Veamos una implementación recursiva en C.
</p>
<p>Embed: <code>gcd.c</code></p>
<h2 id="exponenciación-rápida">Exponenciación rápida</h2>
<p>
Dados dos números <span class="math inline"><em>a</em></span> y <span class="math inline"><em>b</em></span>, <span class="math inline"><em>a</em><sup><em>b</em></sup></span> es equivalente a multiplicar <span class="math inline"><em>a</em></span> por sí misma <span class="math inline"><em>n</em></span> veces. En términos matemáticos esto es exponenciación. Se pide un algoritmo que obtenga <span class="math inline"><em>a</em><sup><em>n</em></sup></span> de manera eficiente.
</p>
<p>
Al parecer es un problema muy simple, basta con iterar <em>n</em> veces multiplicando <em>a</em> por sí misma, resultando en un algoritmo lineal respecto a <em>n</em>.
</p>
<p>
Un algoritmo lineal tiene un buen desempeño sin embargo existen problemas donde donde esto no es suficiente, uno de esos problemas es calcular el modulo (<code>%</code> en C/C++, Java, y otros lenguajes) de un número <span class="math inline"><em>a</em><sup><em>n</em></sup> mod  <em>k</em></span> donde <span class="math inline"><em>a</em><sup><em>n</em></sup></span> es un número muy muy grande. Este problema lo abordaré en otro artículo, de momento enfoquemonos en la exponenciación.
</p>
<p>
El algoritmo recursivo que aquí se describe se base en la regla de exponenciación que nos dice que <span class="math inline">(<em>a</em><sup><em>n</em></sup>)<sup><em>m</em></sup> = <em>a</em><sup><em>n</em><em>m</em></sup></span> con la cual podemos reformular <span class="math inline"><em>a</em><sup><em>n</em></sup></span> como <span class="math inline">(<em>a</em><sup>2</sup>)<sup><em>n</em>/2</sup>(<em>n</em> mod  2)</span>. Aprovechando esta propiedad se puede diseñar un algoritmo de complejidad <span class="math inline"><em>O</em>(log<sub>2</sub><em>n</em>)</span>.
</p>
<p>Embed: <code>power.c</code></p>
<p>
Establecemos el caso base en la línea 3 gracias a que por definición cualquier número elevado a una potencia cero es igual a la unidad.
</p>
<h2 id="sucesión-de-fibonacci">Sucesión de Fibonacci</h2>
<p>
Leonardo de Pisa, matemático italiano que vivió en el siglo XIII, también conocido como Fibonacci, describió una sucesión numérica cuyos primeros dos valores son 0 y 1. Cada elemento posterior se obtiene como la suma de los dos elementos anteriores, así los primeros 7 elementos de la sucesión son:
</p>
<p>0, 1, 1, 2, 3, 5, 8, …</p>
<p>
Fibonacci describió dicha sucesión como la solución al siguiente problema.
</p>
<blockquote>
“Un criador de conejos, en cierto mes no tiene ningún conejo(mes cero), al mes compra un par de conejos(macho y hembra) bebes(mes 1), al mes los conejos ya son adultos y la coneja se embaraza(mes 2), al mes la pareja pare un par de conejos(macho y hembra nuevamente) y ahora se tienen dos parejas de conejos(mes 3), la coneja de la pareja original se vuelve a embarazar y al siguiente mes pare otro par de conejos(macho y hembra, siempre sera así :D), y ya tenemos 3 pares de conejos(mes 4). La coneja de la pareja original vuelve a embarazarse y ademas la coneja de la primera partición, que ya es adulta, se embaraza también. Al mes cada pareja pare una pareja de conejos y ahora la población asciende a 5 parejas(mes 5). Las dos conejas del paso anterior se vuelven a embarazar y la coneja de la segunda partición ya es adulta y también se se embaraza dando lugar a 3 nuevos pares de conejos al siguiente mes que sumados a los ya existentes ahora tenemos 8 parejas(mes 6), y así sucesivamente.”
</blockquote>
<p>
En términos matemáticos esta sucesión se describe con la siguiente función:
</p>
<p><span class="math display">$$f(n) = \begin{cases} 0 &amp; \text{si n = 0} \\\\ 1 &amp; \text{si n = 1} \\\\ f(n - 1) + f(n - 2) &amp; \text{si n &gt; 1} \end{cases}$$</span></p>
<p>Embed: <code>fibonacci.c</code></p>
<p>
Note que el parámetro es de tipo <code>unsigned int</code> para asegurar que <em>n</em> siempre será mayor o igual a cero(el compilador nos advertirá), según lo especifica la función de fibonacci.
</p>
<h2 id="triangulo-de-pascal">Triangulo de pascal</h2>
<p>
El <a href="http://es.wikipedia.org/wiki/Tri%C3%A1ngulo_de_Pascal">triangulo de pascal</a> es un arreglo triangular que contiene en la fila <em>n</em> los coeficientes binomiales que resultan al desarrollar <span class="math inline">(<em>a</em>+<em>b</em>)<sup><em>n</em></sup></span>. Las primeras 6 filas de este triangulo son:
</p>
<pre>
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
</pre>
<p>
Inicialmente se empieza con un solo elemento, el 1 el punto más alto del triángulo. Para cada renglón posterior se coloca un 1 en cada extremo del renglón y el resto de los términos se calculan como la suma del elemento superior izquierdo más el elemento superior, es decir <code>P(i, j) = P(i - 1, j - 1) + P(i - 1, j)</code>. Nos encontramos nuevamente con una función recursiva. Sabemos que el valor en la primer y última columna de cada fila es igual a 1 y con ello formulamos nuestro caso base como <code>P(i, 1) = 1</code> y <code>P(i, j) == 1</code> si <code>i = j</code>.
</p>
<p>
La código que se muestra a continuación calcula el valor ubicado en la fila <em>i</em>, columna <em>j</em> del triángulo de pascal. Cabe decir que esta versión del algoritmo es muy ineficiente pero se muestra por cuestiones didácticas.
</p>
<p>Embed: <code>pascal.c</code></p>
<!--Búsqueda-->
<h2 id="búsqueda-binaria">Búsqueda binaria</h2>
<p>
Sea <em>A[0…n -1]</em> un arreglo de elementos ordenados, existe un algoritmo de búsqueda que permite encontrar(si existe) un elemento en el arreglo con complejidad O(log (n)). Este algoritmo es conocido como búsqueda binaria ya que en cada paso reduce el campo de búsqueda a la mitad. Para este ejemplo <em>A</em> contiene números enteros aunque puede ser cualquier tipo de dato, salvo algunas pequeñas diferencias.
</p>
<p>
La búsqueda binaria trabaja más o menos así: sea <em>v</em> el valor que buscamos y <em>A</em> un arreglo con los elementos sobre los que realizaremos la búsqueda, ordenados en forma ascendente(en orden descendente no implica mayor complicación). Nos colocamos a la mitad del arreglo que contiene los elementos, es decir <em>A[A.size/2]</em>, comparamos el valor que se encuentra en esta posición con <em>v</em>, y pueden suceder tres casos, si son iguales entonces ya encontramos lo que andabamos buscando y termina la búsqueda de manera satisfactoria, si <em>v</em> es mayor entonces el valor que buscamos posiblemente se encuentra en la segunda mitad, es decir <em>A[A.size/2 + 1]</em> a <em>A[A.size - 1]</em>, y podemos estar seguros de que no se encuentra en la primera mitad gracias a que los elementos están ordenados. Si <em>v</em> es menor entonces descartamos la segunda mitad dejando a la primera mitad como la posible contenedora de <em>v</em>. Hecho esto hemos reducido el campo de búsqueda a la mitad, se descarta una de las mitades y repetimos el mismo procedimiento con la mitad restante, hasta encontrar el elemento que buscamos o hasta que comprobar que el elemento buscado no se encuentra en <em>A</em>.
</p>
<p>
Quizás una imagen ayuda un poco a entender este procedimiento.
</p>
<figure>
<img src="/recursion/binary_search.png" alt="Búsqueda Binaria" />
<figcaption aria-hidden="true">Búsqueda Binaria</figcaption>
</figure>
<p>
Una posible implementación de este algoritmo de forma recursiva es la siguiente.
</p>
<p>Embed: <code>binary-search.c</code></p>
<h2 id="permutaciones">Permutaciones</h2>
<p>
Dada una lista de elementos sin que se repita ninguno de ellos se pide encontrar el número de permutaciones de dichos elementos y mostrar dichas permutaciones.
</p>
<p>
Una permutación no es mas que el reordenamiento de un cierto número de objetos. Cuando se pide generar todas las permutaciones de un conjunto de elementos(al hablar de conjunto se sabe que no debe haber elementos repetidos) el problema se reduce a generar todas las reordenaciones posibles tales que no halla dos reordenaciones idénticas. Por ejemplo, el conjunto <code>{1, 2, 3}</code> tiene 6 permutaciones que son <code>{1, 2, 3}, {1, 3, 2}, {2, 1, 3}, {2, 3, 1}, {3, 1, 2} ,{3, 2, 1}</code>.
</p>
<p>
El problema nos solicita dos cosas, primero, el número de permutaciones, y segundo, cuales son dichas permutaciones. La primera petición es muy fácil, ya lo hemos hecho anteriormente, se trata de la función factorial que desarrollamos como primer ejemplo de recursión que calcula ni más ni menos el número de permutaciones para un conjunto de <em>n</em> elementos.
</p>
<p>
La segunda parte del problema es un poquito más complicada, así que procedamos con el análisis del problema. Veamos el las permutaciones para conjuntos de 1, 2 y 3 elementos.
</p>
<table class="article_table">
<tr>
<td>
{1} =
</td>
<td>
{1}
</td>
</tr>
<tr>
<td>
{1, 2} =
</td>
<td>
{1, 2}, {2, 1}
</td>
</tr>
<tr>
<td>
{1, 2, 3} =
</td>
<td>
{1, 2, 3}, {1, 3, 2}, <br>{2, 1, 3}, {2, 3, 1}, <br>{3, 1, 2}, {3, 2, 1}
</td>
</tr>
</table>
<p>
Para un elemento la única permutación es sí mismo. Para dos elementos colocamos el primer elemento seguido por el segundo para la primera permutación y después invertimos el orden para obtener la segunda permutación. Ponga atención en las permutaciones del conjunto de 3 elementos. Note que primero se generan todas las permutaciones que empiezan con el primer elemento, después las que empiezan con el segundo elemento y de igual manera para el tercer elemento. Además note que existen dos permutaciones diferentes que empiezan con el primer elemento, dos que empiezan con el segundo elemento y dos para el tercero, una para cada permutación de los dos elementos restantes.
</p>
<p>
Esto muestra que podemos reducir el problema a un algoritmo recursivo que para <em>n</em> elementos se deben generar todas las permutaciones formadas por todas las permutaciones de <em>n - 1</em> elementos precedidas del elemento n.
</p>
Embed: <code>perm.c</code>
<pre lang="c" >
</pre>
<p>
En las líneas 14 a 16 hacemos que el elemento actual pase al final del arreglo mediante un intercambio, dicho intercambio obviamente es para no perder el elemento que esta en la última posición. Esta sección del código corresponden a “anteponer” cada uno de los n elementos y la línea 20 corresponde a generar todas las permutaciones de los <em>n - 1</em> elementos restantes. Quizás notaran que realmente no anteponemos los elementos sino que más bien lo ponemos al final lo cual no altera el funcionamiento del algoritmo. Las permutaciones que genera este algoritmo están desordenadas y es necesario ordenarlos si así lo necesitamos. Existen algoritmos que generan permutaciones “casi” ordenadas pero se los dejo de tarea por si les interesa.
</p>
<!--Conclusión-->
<h2 id="recursión-vs-iteración">Recursión vs Iteración</h2>
<p>
Todo algoritmo recursivo puede ser implementado en forma iterativa, y viceversa. Esta afirmación no fue muy aceptada por mí en un principio, pero ahora, con un poquito más de entendimiento, les puedo decir que es verdad. Para que se convenzan veamos como lucen las versiones iterativas de algunos problemas antes mencionados.
</p>
<h3 id="factorial-1">Factorial</h3>
<p>Embed: <code>factorial2.c</code></p>
<h3 id="mcd">MCD</h3>
<p>Embed: <code>gcd2.c</code></p>
<h3 id="fibonacci">Fibonacci</h3>
<p>Embed: <code>fibonacci-iterative.c</code></p>
<h3 id="exponenciación-rápida-1">Exponenciación rápida</h3>
<p>Embed: <code>power2.c</code></p>
<p>
Algunos no son tan fáciles de portar a iterativo. De manera interna la recursión trabaja con una pila, cada llamada recursiva significa crear una copia de todos los valores actuales en la función y ponerlos en la pila, para después cuando termine la ejecución de la llamada recursiva se puedan restaurar los valores tal y como estaban. En muchos casos es necesario utilizar una pila explícitamente para su versión iterativa.
</p>
<h2 id="otros-problemas-recursivos">Otros problemas recursivos</h2>
<p>
Existen muchos problemas que se definen recursivamente, algunos de ellos son:
</p>
<ol>
<li>
<a href="http://es.wikipedia.org/wiki/Funci%C3%B3n_de_Ackermann">Función de Ackermann</a>
</li>
<li>
<a href="http://es.wikipedia.org/wiki/N%C3%BAmeros_de_Catalan">Números de Catalan</a>
</li>
<li>
<a href="http://es.wikipedia.org/wiki/Torres_de_Han%C3%B3i">Torres de hanoi</a>
</li>
<li>
<a href="http://es.wikipedia.org/wiki/Fractal">Fractales</a>
</li>
<li>
Otros…
</li>
</ol>
<h2 id="conclusión">Conclusión</h2>
<p>
Resolver problemas es un arte y como todo artista es necesario aprender técnicas que nos permitan mejorar nuestras habilidades, la recursión de una de muchas técnicas que existen para atacar problemas de programación. Técnicas como el backtracking usan, divide y vencerás y búsqueda exhaustiva emplean recursión, entre otras. Este documento abarca solo una pequeña parte del tema de la recursividad, se recomienda al lector indagar más sobre el tema.
</p>
<p>
Hasta aquí con la recursividad, para más información véase <em>recursión</em>.
</p>
<h2 id="referencias">Referencias</h2>
<table border="0">
<tr>
<td>
[1]
</td>
<td>
Dasgupta, C. H. Papadimitriou, and U. V. Vazirani, <b>Algorithms</b> 2006.
</td>
</tr>
<tr>
<td>
[2]
</td>
<td>
Luis E. Vargas Azcona, <b>Problemas y algoritmos.</b>
</td>
</tr>
<tr>
<td>
[3]
</td>
<td>
Steven Halim, <b>Competitive programming.</b>
</td>
</tr>
</table>

