<!-- vim: set spelllang=es_mx: -->
<h1 id="reporte-ii-microoj-servicios-web">Reporte II: MicroOJ &amp; servicios Web</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#dev</code> <code>#post</code></span>
</p>

<p>Este es el reporte correspondiente al proyecto número 2 de la materia Desarrollo de Aplicaciones para Tecnologías Móviles.</p>
<h2 id="definición-del-problema">Definición del Problema</h2>
<p>Este proyecto consiste en desarrollar un Web Service que manipule una base de datos a petición de los clientes.</p>
<blockquote>
Desarrolle un Web Service con los servicios necesarios para manipular una base de datos (backend) y además una aplicación cliente para que los usuarios puedan acceder a las servicios (frontend).
</blockquote>
<h2 id="definiciones">Definiciones</h2>
<p>Antes de continuar es necesario conocer algunas definiciones para comprender mejor el trabajo que vamos a realizar.</p>
<h3 id="web-service">Web Service</h3>
<blockquote>
Un Web service es un sistema de software diseñado para soportar interacción máquina-a-máquina de manera interoperable a través de una red. Éste sistema tiene una interfaz descrita en un formato que puede ser procesado por la máquina (específicamente WSDL). Otros sistemas interactúan con el Web service en una manera prescrita por su definición usando mensajes SOAP, comúnmente transmitidos usando HTTP con una serialización XML en conjunto con otros estándares Web.
</blockquote>
<h2 id="propuesta-de-solución">Propuesta de solución</h2>
<p>El problema nos solicita dos cosas, proveer servicios y manipular una base de datos. En vista que el problema no especifica que servicios ni que datos manipular, tenemos la libertad de enfocar el proyecto a la problemática que más nos agrade.</p>
<p>Vamos a desarrollar un mina sistema de juez en línea como <a href="http://uva.onlinejudge.org/">UVa</a>, <a href="http://lightoj.com/">LightOJ</a> u <a href="http://omegaup.com/">OmegaUp</a>, el cual consiste en dos partes, un servidor (el juez) y uno o más clientes (los solucionadores de problemas).</p>
<h3 id="el-servidor">El servidor</h3>
<p>Es aquí donde vamos a implementar el web service para que proporcione los siguientes servicios:</p>
<ul>
<li>
Crear un problema con sus casos de prueba y almacenarlos en una base de datos.
</li>
<li>
Aceptar soluciones de parte de los usuarios y almacenarlas en la base de datos.
</li>
<li>
Compilar y ejecutar la solución y reportar los resultados.
</li>
</ul>
<p>Esta parte la vamos a realizar en PHP.</p>
<h3 id="el-cliente">El cliente</h3>
<p>Una pequeña aplicación Web en Ruby on Rails que permita a los usuarios realizar los siguientes operaciones.</p>
<ul>
<li>
Crear problemas.
</li>
<li>
Enviar soluciones (código fuente).
</li>
<li>
Visualizar los resultados de la solución enviada.
</li>
</ul>
<p>El nombre de mi juez en línea sera <strong>Micro OJ</strong>, por razones obvias.</p>
<h2 id="requisitos">Requisitos</h2>
<ul>
<li>
<a href="/?p=858">Instalar y configurar un entorno LAMP</a>
</li>
<li>
<a href="/?p=862">Instalar y configurar Ruby on Rails</a>
</li>
<li>
El servidor debe tener instalados los compiladores para C, C++ y Python.
</li>
</ul>
<h2 id="el-servidor-1">El servidor</h2>
<p>En esta parte vamos a implementar el Web Service. Antes que nada veamos nuestro modelo de base de datos.</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_01.png" alt="Modelo de la base de datos" />
<figcaption aria-hidden="true">Modelo de la base de datos</figcaption>
</figure>
<p><strong>NOTA:</strong> Vamos a hacer una mezcla rara de ingles y español porque sino el profesor no va creer que el trabajo es nuestro.</p>
<p>El Web Service va a consistir de los siguientes servicios.</p>
<h3 id="servicios">Servicios</h3>
<table>
</td>
</tr>
<tr>
<td>
<strong>create_problem</strong>
</td>
<td>
Permite a los usuarios almacenar un problema y sus casos de prueba en la base de datos.
</td>
</tr>
<tr>
<td>
<strong>get_all_problems</strong>
</td>
<td>
Recupera todos los problemas de la base de datos y se los retorna al cliente.
</td>
</tr>
<tr>
<td>
<strong>save_solution</strong>
</td>
<td>
Recibe una solución por parte del cliente (código fuente).
</td>
</tr>
<tr>
<td>
<strong>compile_solution</strong>
</td>
<td>
Compila una solución y retorna el resultado (compila o no).
</td>
</tr>
<tr>
<td>
<strong>get_last_error</strong>
</td>
<td>
Retorna al cliente el error ocurrido al compilar una solución.
</td>
</tr>
<tr>
<td>
<strong>save_test_case</strong>
</td>
<td>
Recibe un caso de prueba para un problema en específico y lo almácena en la base de datos.
</td>
</tr>
<tr>
<td>
<strong>test_solution</strong>
</td>
<td>
Recibe el ID de una solución, la compila, la ejecuta con los casos de prueba correspondientes al problema y reporta los resultados al cliente (PASSO o FALLO).
</td>
</tr>
<tr>
<td>
<strong>create_user</strong>
</td>
<td>
Crear un usuario en la BD.
</td>
</tr>
<tr>
<td>
<strong>get_user</strong>
</td>
<td>
Retorna el ID y nombre de un usuario en particular.
</td>
</tr>
<tr>
<td>
<strong>find_user_by_remember_token</strong>
</td>
<td>
Operación auxiliar para el inicio de sesión.
</td>
</tr>
<tr>
<td>
<strong>update_user_remember_token</strong>
</td>
<td>
Operación auxiliar para el inicio de sesión.
</td>
</tr>
<tr>
<td>
<strong>get_user_data</strong>
</td>
<td>
Recibe un usuario y contraseña y retorna los datos completos del usuario.
</td>
</tr>
<tr>
<td>
<strong>authenticate_user</strong>
</td>
<td>
Verifica si un usuario existe en la base de datos con con el nombre de usuario y contraseña provista.
</td>
</tr>
<tr>
<td>
<strong>get_problem</strong>
</td>
<td>
Retorna la descripción de un problema en particular (id, título y descripción).
</td>
</tr>
<tr>
<td>
<strong>get_all_users</strong>
</td>
<td>
Retorna la lista de todos los usuario (únicamente el ID y el nombre).
</td>
</tr>
</table>
</td>
</tr>
<p>PHP cuenta con soporte nativo para SOAP, pero nosotros vamos a emplear NuSOAP porque nos permite generar el archivo WSDL. El código que implementa el Web Service consta de aproximadamente de 800 líneas y por lo tanto no vamos a entrar en detalles de la implementación, sin embargo, el código no es complejo, con un conocimiento básico de PHP podrán entenderlo.</p>
<h3 id="definición-de-un-servicio">Definición de un servicio</h3>
<p>Los servicios son funciones normales en PHP, la diferencia es que tenemos que registarlas, por ejemplo, veamos como crear el servicio <strong>create_problem</strong>.</p>
<p>Función:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode php"><code class="sourceCode php"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="kw">function</span> create_problem(<span class="va">$user</span><span class="ot">,</span> <span class="va">$password</span><span class="ot">,</span> <span class="va">$title</span><span class="ot">,</span> <span class="va">$description</span><span class="ot">,</span> <span class="va">$author</span>)</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>{</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> (<span class="va">$this</span>-&gt;authenticate_user(<span class="va">$user</span><span class="ot">,</span> <span class="va">$password</span>) <span class="op">!=</span> <span class="cn">VALID_USER</span>) {</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>        <span class="cf">return</span> <span class="cn">INVALID_USER</span><span class="ot">;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>    }</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>    <span class="va">$mysqli</span> <span class="op">=</span> <span class="va">$this</span>-&gt;open_db()<span class="ot">;</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a>    <span class="va">$query</span> <span class="op">=</span> <span class="va">$this</span>-&gt;fips(<span class="va">$title</span><span class="ot">,</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a>                         <span class="va">$description</span><span class="ot">,</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a>                         <span class="va">$author</span>)<span class="ot">;</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>    <span class="va">$mysqli</span>-&gt;query(<span class="st">&quot;SET NAMES UTF8&quot;</span>)<span class="ot">;</span></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a>    <span class="va">$mysqli</span>-&gt;query(<span class="va">$query</span>)<span class="ot">;</span></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a>    <span class="va">$code</span> <span class="op">=</span> <span class="va">$mysqli</span>-&gt;insert_id<span class="ot">;</span></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> (<span class="va">$code</span> <span class="op">==</span> <span class="dv">0</span>) {</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true" tabindex="-1"></a>        <span class="cf">if</span> (<span class="va">$mysqli</span>-&gt;errno <span class="op">==</span> <span class="cn">ER_DUP_ENTRY</span>) {</span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true" tabindex="-1"></a>            <span class="cf">return</span> <span class="cn">ER_TITLE_ALREADY_TAKEN</span><span class="ot">;</span></span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true" tabindex="-1"></a>        } <span class="cf">else</span> {</span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true" tabindex="-1"></a>            <span class="cf">return</span> <span class="cn">ER_FAILED_TO_INSERT_RECORD</span><span class="ot">;</span></span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true" tabindex="-1"></a>        }</span>
<span id="cb1-22"><a href="#cb1-22" aria-hidden="true" tabindex="-1"></a>    }</span>
<span id="cb1-23"><a href="#cb1-23" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-24"><a href="#cb1-24" aria-hidden="true" tabindex="-1"></a>    <span class="va">$mysqli</span>-&gt;close()<span class="ot">;</span></span>
<span id="cb1-25"><a href="#cb1-25" aria-hidden="true" tabindex="-1"></a>    <span class="cf">return</span> <span class="va">$code</span><span class="ot">;</span></span>
<span id="cb1-26"><a href="#cb1-26" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<p>Registro del servicio:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode php"><code class="sourceCode php"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="va">$server</span>-&gt;register(<span class="st">&#39;Judge.create_problem&#39;</span><span class="ot">,</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">array</span>(</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;user&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;password&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;title&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;description&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;author&#39;</span> =&gt; <span class="st">&#39;xsd:integer&#39;</span>)<span class="ot">,</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true" tabindex="-1"></a>    <span class="dt">array</span>(<span class="st">&#39;return&#39;</span> =&gt; <span class="st">&#39;xsd:integer&#39;</span>)<span class="ot">,</span></span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;http://localhost/microoj_ws/judge.php&#39;</span></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true" tabindex="-1"></a>)<span class="ot">;</span></span></code></pre></div>
<p>El nombre del servicio comienza con <em>Judge.</em> porque la función es parte de la clase <em>Judge</em>. El primer argumento es el nombre del servicio, el segundo argumento es un arreglo especificando los datos que require el servicio, el tercer array es para especificar los datos que retorna el servicio, el último argumento es simplemente para documentación.</p>
<h3 id="crear-un-tipo-de-dato-complejo">Crear un tipo de dato complejo</h3>
<p>Para algunos de los servicios retornamos más de un dato, por ejemplo, <em>get_problem</em> y <em>get_user_data</em> que retornan una estructura con los datos del problema y del usuario respectivamente, o <em>get_all_problems</em> que retorna una lista de problemas. Veamos como crear un tipo de dato complejo y después un arreglo de objetos complejos.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode php"><code class="sourceCode php"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="va">$server</span>-&gt;wsdl-&gt;addComplexType(<span class="st">&#39;Problem&#39;</span><span class="ot">,</span> <span class="st">&#39;complexType&#39;</span><span class="ot">,</span> <span class="st">&#39;struct&#39;</span><span class="ot">,</span> <span class="st">&#39;all&#39;</span><span class="ot">,</span> <span class="st">&#39;&#39;</span><span class="ot">,</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">array</span>(</span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;id&#39;</span> =&gt; <span class="dt">array</span>(</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;type&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;minOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span><span class="ot">,</span></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;maxOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span>)<span class="ot">,</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;title&#39;</span> =&gt; <span class="dt">array</span>(</span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;type&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;minOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span><span class="ot">,</span></span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;maxOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span>)<span class="ot">,</span></span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;description&#39;</span> =&gt; <span class="dt">array</span>(</span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;type&#39;</span> =&gt; <span class="st">&#39;xsd:string&#39;</span><span class="ot">,</span></span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;minOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span><span class="ot">,</span></span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;maxOccurs&#39;</span> =&gt; <span class="st">&#39;1&#39;</span>)</span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true" tabindex="-1"></a>        )</span>
<span id="cb3-16"><a href="#cb3-16" aria-hidden="true" tabindex="-1"></a>    )<span class="ot">;</span></span></code></pre></div>
<p>En este código especificamos el nombre del tipo de dato, los campos que contiene, los tipos de datos de cada campo, etc. Ahora un arreglo de objetos tipo <strong>Problem</strong>.</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode php"><code class="sourceCode php"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="va">$server</span>-&gt;wsdl-&gt;addComplexType(</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;ArrayOfProblem&#39;</span><span class="ot">,</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;complexType&#39;</span><span class="ot">,</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;array&#39;</span><span class="ot">,</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;sequence&#39;</span><span class="ot">,</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;&#39;</span><span class="ot">,</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a>    <span class="dt">array</span>(</span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a>        <span class="st">&#39;problem&#39;</span> =&gt; <span class="dt">array</span>(</span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;type&#39;</span>      =&gt; <span class="st">&#39;tns:Problem&#39;</span><span class="ot">,</span></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;minOccurs&#39;</span> =&gt; <span class="st">&#39;0&#39;</span><span class="ot">,</span> </span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a>            <span class="st">&#39;maxOccurs&#39;</span> =&gt; <span class="st">&#39;unbounded&#39;</span></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a>        )</span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a>    )</span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true" tabindex="-1"></a>)<span class="ot">;</span></span></code></pre></div>
<p>Y es así como se procede con el resto de los servicios.</p>
<h2 id="el-cliente-1">El cliente</h2>
<p>Esta la parte más extensa y que necesitará de mucha paciencia, hacer una descripción sería abrumador y aburrido, por lo que únicamente vamos a ver las partes más importantes.</p>
<p>Esta parte consume mucho tiempo principalmente porque hay que aprender el lenguaje Ruby y ademas como utilizar el framework Ruby on Rails, pero si ya conocen bien éstas dos herramientas supongo terminarán mucho más rápido. Mi recomendación para Ruby on Rails es <a href="http://ruby.railstutorial.org">Ruby on Rails Tutorial</a> por Michael Hartl, el cual seguí para realizar el cliente.</p>
<h3 id="cliente-soap">Cliente SOAP</h3>
<p>Para poder utilizar los servicios del Web Service será necesaria una herramienta que sea capaz de comunicarse con el servidor utilizando el protocolo SOAP, y esa herramienta se llama <a href="http://savonrb.com/">Savon</a>, un cliente SOAP para el lenguaje Ruby.</p>
<p>Veamos como establecer comunicación con el servidor para crear un usuario.</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">require</span> <span class="vs">&#39;savon&#39;</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>client <span class="kw">=</span> <span class="dt">Savon</span><span class="kw">::</span><span class="dt">Client</span><span class="at">.new</span> <span class="cf">do</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>    <span class="co"># Dirección de nuestro servicio</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a>    wsdl<span class="at">.document</span> <span class="kw">=</span> <span class="st">&quot;http://localhost/microoj_ws/judge.php?wsdl&quot;</span></span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a>user_name <span class="kw">=</span> <span class="st">&quot;usuario&quot;</span></span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a>password <span class="kw">=</span> <span class="st">&quot;1a2b3c&quot;</span></span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true" tabindex="-1"></a>request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.create_user&quot;</span> <span class="cf">do</span></span>
<span id="cb5-11"><a href="#cb5-11" aria-hidden="true" tabindex="-1"></a>    soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb5-12"><a href="#cb5-12" aria-hidden="true" tabindex="-1"></a>        <span class="wa">:name</span> <span class="kw">=&gt;</span> user_name,</span>
<span id="cb5-13"><a href="#cb5-13" aria-hidden="true" tabindex="-1"></a>        <span class="wa">:password</span> <span class="kw">=&gt;</span> password</span>
<span id="cb5-14"><a href="#cb5-14" aria-hidden="true" tabindex="-1"></a>    <span class="kw">}</span></span>
<span id="cb5-15"><a href="#cb5-15" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span>
<span id="cb5-16"><a href="#cb5-16" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb5-17"><a href="#cb5-17" aria-hidden="true" tabindex="-1"></a>response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_create_user_response</span><span class="kw">]</span></span>
<span id="cb5-18"><a href="#cb5-18" aria-hidden="true" tabindex="-1"></a><span class="fu">puts</span> response</span>
<span id="cb5-19"><a href="#cb5-19" aria-hidden="true" tabindex="-1"></a>insert_id <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">]</span><span class="at">.to_i</span></span>
<span id="cb5-20"><a href="#cb5-20" aria-hidden="true" tabindex="-1"></a><span class="fu">puts</span> insert_id</span></code></pre></div>
<p>Al ejecutarlo debe arrojar algo similar a esto:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode txt"><code class="sourceCode default"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a>. Logs</span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>.</span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>.</span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>{:return=&gt;&quot;4&quot;, :&quot;@xmlns:ns1&quot;=&gt;&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;}</span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a>4</span></code></pre></div>
<p>El ejemplo anterior da por hecho que los servidores Apache y MySQL están encendidos y que la base de datos ya esta instalada.</p>
<p><strong>NOTA:</strong> Con el código fuente incluyo el modelo de la base de datos, fue diseñado utilizando Workbench y por lo tanto podrán exportar la base de datos desde ahí.</p>
<h3 id="la-interfaz">La interfaz</h3>
<p>Una imagen dice más que mil palabras, como todos sabemos, así que allá vamos.</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_02.png" alt="Página principal de MicroOJ" />
<figcaption aria-hidden="true">Página principal de MicroOJ</figcaption>
</figure>
<figure>
<img src="/report-ii-microoj-web-services/ws_03.png" alt="Formulario de registro de usuarios" />
<figcaption aria-hidden="true">Formulario de registro de usuarios</figcaption>
</figure>
<figure>
<img src="/report-ii-microoj-web-services/ws_04.png" alt="Formulario de inicio de sesión" />
<figcaption aria-hidden="true">Formulario de inicio de sesión</figcaption>
</figure>
<figure>
<img src="/report-ii-microoj-web-services/ws_05.png" alt="Lista de problemas" />
<figcaption aria-hidden="true">Lista de problemas</figcaption>
</figure>
<p>Cada problema debe mostrar la opción de enviar una solución, sin embargo, nótese que en la imagen esta opción no figura, esto es porque el usuario no ha iniciado sesión y únicamente los usuarios registrados pueden enviar soluciones.</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_06.png" alt="Usuario que ha iniciado sesión" />
<figcaption aria-hidden="true">Usuario que ha iniciado sesión</figcaption>
</figure>
<p>En esta imagen observe que en la barra izquierda ha aparecido una nueva operación, “Crear problemas”, esta operación esta disponible únicamente para el usuario administrador.</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_07.png" alt="Formulario para registrar un problema" />
<figcaption aria-hidden="true">Formulario para registrar un problema</figcaption>
</figure>
<figure>
<img src="/report-ii-microoj-web-services/ws_08.png" alt="Los usuarios pueden enviar soluciones" />
<figcaption aria-hidden="true">Los usuarios pueden enviar soluciones</figcaption>
</figure>
<figure>
<img src="/report-ii-microoj-web-services/ws_09.png" alt="Formulario para enviar soluciones" />
<figcaption aria-hidden="true">Formulario para enviar soluciones</figcaption>
</figure>
<p>El editor de código es Ace (<a href="http://ace.c9.io/">http://ace.c9.io/</a>).</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_10.png" alt="Resultados de la solución" />
<figcaption aria-hidden="true">Resultados de la solución</figcaption>
</figure>
<p>El diseño de la interfaz fue hecho utilizando Bootstrap (<a href="http://getbootstrap.com/2.3.2/index.html">http://getbootstrap.com/2.3.2/index.html</a>).</p>
<h2 id="desarrollo-del-cliente">Desarrollo del cliente</h2>
<p>Ahora que ya vimos como trabaja el cliente, es momento de explicar a grandes rasgos como se desarrollo.</p>
<h3 id="creación-del-proyecto">Creación del proyecto</h3>
<p>En este punto vamos a asumir que ROR ya esta instalado y configurado. Ejecuta los siguientes comandos para crear el proyecto.</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="ex">$</span> mkdir microoj</span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a><span class="ex">$</span> cd microoj</span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a><span class="ex">$</span> rails new MicroOJ</span></code></pre></div>
<p>El tercer comando genera el esquelo de nuestra aplicación.</p>
<figure>
<img src="/report-ii-microoj-web-services/ws_11.png" alt="Esqueleto de una aplicación ROR" />
<figcaption aria-hidden="true">Esqueleto de una aplicación ROR</figcaption>
</figure>
<p>La mayor parte de la acción ocurre en el subdirectorio <em>app</em>, especificamente en los subdirectorios <em>app/views</em>, <em>app/controllers</em> y <em>app/models</em>, esta estructura corresponde al patron de diseño <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Model View Controller</a>.</p>
<h3 id="contenido-de-nuestro-proyecto">Contenido de nuestro proyecto</h3>
<p>Nuestra aplicación consiste de 5 vistas:</p>
<ul>
<li>
<strong>problems</strong> Para crear y visualizar problemas.
</li>
<li>
<strong>solutions</strong> Para enviar soluciones y visualizar resultados.
</li>
<li>
<strong>users</strong> Crear y mostrar información sobre usuarios.
</li>
<li>
<strong>sessions</strong> Para el inicio de sesión.
</li>
<li>
<strong>static_pages</strong> Estructura y diseño del sitio, contenido estático.
</li>
</ul>
<p>Cada vista tiene su respectivo controlador en la carpeta <em>app/controllers</em>:</p>
<ul>
<li>
<strong>problems_controller.rb</strong>
</li>
<li>
<strong>sessions_controller.rb</strong>
</li>
<li>
<strong>solutions_controller.rb</strong>
</li>
<li>
<strong>static_pages_controller.rb</strong>
</li>
<li>
<strong>users_controller.rb</strong>
</li>
</ul>
<p>Utilizamos también tres modelos para almacenar y manipular nuestros datos, estos archivos se ubican en la carpeta <em>app/models</em>:</p>
<ul>
<li>
<strong>problem.rb</strong>
</li>
<li>
<strong>solution.rb</strong>
</li>
<li>
<strong>user.rb</strong>
</li>
</ul>
<h3 id="creación-de-un-usuario">Creación de un usuario</h3>
<p>La alta de usuarios ocurre de la siguiente manera. El archivo <em>app/views/users/new.html.erb</em> contiene el diseño del formulario.</p>
<p>El código que se encarga de crear al nuevo usuario se encuentra en el archivo <em>app/controllers/users_controller.rb</em>. El método <em>new</em> se ejecuta cuando el usuario accede al formulario de registro, lo que hace es crear un objeto de tipo <strong>User</strong>, cuyos datos miembro estan enlazados a los campos del formulario.</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> new</span>
<span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a>    <span class="ot">@user</span> <span class="kw">=</span> <span class="dt">User</span><span class="at">.new</span></span>
<span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<p>El método <em>create</em> se ejecuta en cuanto el usuario envía los datos de registro. Aquí se realiza la validación, y en caso de que la validación sea satisfactoria se procede a enviar los datos al servidor. En caso contrario se redirecciona nuevamente al formulario con el mensaje de error correspondiente.</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> create</span>
<span id="cb9-2"><a href="#cb9-2" aria-hidden="true" tabindex="-1"></a>    <span class="ot">@user</span> <span class="kw">=</span> <span class="dt">User</span><span class="at">.new</span>(user_params)</span>
<span id="cb9-3"><a href="#cb9-3" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> <span class="ot">@user</span><span class="at">.valid?</span></span>
<span id="cb9-4"><a href="#cb9-4" aria-hidden="true" tabindex="-1"></a>        client <span class="kw">=</span> <span class="dt">Savon</span><span class="kw">::</span><span class="dt">Client</span><span class="at">.new</span> <span class="cf">do</span></span>
<span id="cb9-5"><a href="#cb9-5" aria-hidden="true" tabindex="-1"></a>            wsdl<span class="at">.document</span> <span class="kw">=</span> <span class="cn">WSDL_LOCATION</span></span>
<span id="cb9-6"><a href="#cb9-6" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb9-7"><a href="#cb9-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-8"><a href="#cb9-8" aria-hidden="true" tabindex="-1"></a>        name <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:user</span><span class="kw">][</span><span class="wa">:name</span><span class="kw">]</span></span>
<span id="cb9-9"><a href="#cb9-9" aria-hidden="true" tabindex="-1"></a>        password <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:user</span><span class="kw">][</span><span class="wa">:password</span><span class="kw">]</span></span>
<span id="cb9-10"><a href="#cb9-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-11"><a href="#cb9-11" aria-hidden="true" tabindex="-1"></a>        url <span class="kw">=</span> <span class="dt">SecureRandom</span><span class="at">.urlsafe_base64</span></span>
<span id="cb9-12"><a href="#cb9-12" aria-hidden="true" tabindex="-1"></a>        remember_token <span class="kw">=</span> <span class="dt">Digest</span><span class="kw">::</span><span class="dt">SHA1</span><span class="at">.hexdigest</span>(url<span class="at">.to_s</span>)</span>
<span id="cb9-13"><a href="#cb9-13" aria-hidden="true" tabindex="-1"></a>        request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.create_user&quot;</span> <span class="cf">do</span></span>
<span id="cb9-14"><a href="#cb9-14" aria-hidden="true" tabindex="-1"></a>            soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb9-15"><a href="#cb9-15" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:user</span> <span class="kw">=&gt;</span> name,</span>
<span id="cb9-16"><a href="#cb9-16" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:password</span> <span class="kw">=&gt;</span> password,</span>
<span id="cb9-17"><a href="#cb9-17" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:remember_token</span> <span class="kw">=&gt;</span> remember_token</span>
<span id="cb9-18"><a href="#cb9-18" aria-hidden="true" tabindex="-1"></a>            <span class="kw">}</span></span>
<span id="cb9-19"><a href="#cb9-19" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb9-20"><a href="#cb9-20" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-21"><a href="#cb9-21" aria-hidden="true" tabindex="-1"></a>        response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_create_user_response</span><span class="kw">]</span></span>
<span id="cb9-22"><a href="#cb9-22" aria-hidden="true" tabindex="-1"></a>        id <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">]</span><span class="at">.to_i</span></span>
<span id="cb9-23"><a href="#cb9-23" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-24"><a href="#cb9-24" aria-hidden="true" tabindex="-1"></a>        <span class="cf">if</span> id <span class="kw">&gt;</span> <span class="dv">0</span></span>
<span id="cb9-25"><a href="#cb9-25" aria-hidden="true" tabindex="-1"></a>            flash<span class="kw">[</span><span class="wa">:success</span><span class="kw">]</span> <span class="kw">=</span> <span class="st">&quot;Bienvenido a Micro OJ&quot;</span></span>
<span id="cb9-26"><a href="#cb9-26" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-27"><a href="#cb9-27" aria-hidden="true" tabindex="-1"></a>            request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.get_user_data&quot;</span> <span class="cf">do</span></span>
<span id="cb9-28"><a href="#cb9-28" aria-hidden="true" tabindex="-1"></a>                soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb9-29"><a href="#cb9-29" aria-hidden="true" tabindex="-1"></a>                    <span class="wa">:user</span> <span class="kw">=&gt;</span> name,</span>
<span id="cb9-30"><a href="#cb9-30" aria-hidden="true" tabindex="-1"></a>                    <span class="wa">:password</span> <span class="kw">=&gt;</span> password</span>
<span id="cb9-31"><a href="#cb9-31" aria-hidden="true" tabindex="-1"></a>                <span class="kw">}</span></span>
<span id="cb9-32"><a href="#cb9-32" aria-hidden="true" tabindex="-1"></a>            <span class="cf">end</span></span>
<span id="cb9-33"><a href="#cb9-33" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-34"><a href="#cb9-34" aria-hidden="true" tabindex="-1"></a>            response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_get_user_data_response</span><span class="kw">]</span></span>
<span id="cb9-35"><a href="#cb9-35" aria-hidden="true" tabindex="-1"></a>            user_data <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:user</span><span class="kw">]</span></span>
<span id="cb9-36"><a href="#cb9-36" aria-hidden="true" tabindex="-1"></a>            user <span class="kw">=</span> <span class="dt">User</span><span class="at">.new</span></span>
<span id="cb9-37"><a href="#cb9-37" aria-hidden="true" tabindex="-1"></a>            user<span class="at">.id</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:id</span><span class="kw">]</span></span>
<span id="cb9-38"><a href="#cb9-38" aria-hidden="true" tabindex="-1"></a>            user<span class="at">.name</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:id</span><span class="kw">]</span></span>
<span id="cb9-39"><a href="#cb9-39" aria-hidden="true" tabindex="-1"></a>            user<span class="at">.password</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:password</span><span class="kw">]</span></span>
<span id="cb9-40"><a href="#cb9-40" aria-hidden="true" tabindex="-1"></a>            user<span class="at">.remember_token</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:remember_token</span><span class="kw">]</span></span>
<span id="cb9-41"><a href="#cb9-41" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-42"><a href="#cb9-42" aria-hidden="true" tabindex="-1"></a>            sign_in user</span>
<span id="cb9-43"><a href="#cb9-43" aria-hidden="true" tabindex="-1"></a>            redirect_to root_path</span>
<span id="cb9-44"><a href="#cb9-44" aria-hidden="true" tabindex="-1"></a>        <span class="cf">else</span></span>
<span id="cb9-45"><a href="#cb9-45" aria-hidden="true" tabindex="-1"></a>            render <span class="vs">&#39;new&#39;</span></span>
<span id="cb9-46"><a href="#cb9-46" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb9-47"><a href="#cb9-47" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb9-48"><a href="#cb9-48" aria-hidden="true" tabindex="-1"></a>    <span class="cf">else</span></span>
<span id="cb9-49"><a href="#cb9-49" aria-hidden="true" tabindex="-1"></a>        render <span class="vs">&#39;new&#39;</span> <span class="co"># Pending</span></span>
<span id="cb9-50"><a href="#cb9-50" aria-hidden="true" tabindex="-1"></a>    <span class="cf">end</span></span>
<span id="cb9-51"><a href="#cb9-51" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<h3 id="inicio-de-sesión">Inicio de sesión</h3>
<p>El diseño del formulario se encuentra en el archivo <em>app/views/sessions/new.html.erb</em>.</p>
<p>La código que se encarga de crear la sesión se encuentra en el archivo <em>app/controllers/sessions_controller.rb</em>, en el método <em>create</em>:</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> create</span>
<span id="cb10-2"><a href="#cb10-2" aria-hidden="true" tabindex="-1"></a>    client <span class="kw">=</span> <span class="dt">Savon</span><span class="kw">::</span><span class="dt">Client</span><span class="at">.new</span> <span class="cf">do</span></span>
<span id="cb10-3"><a href="#cb10-3" aria-hidden="true" tabindex="-1"></a>        wsdl<span class="at">.document</span> <span class="kw">=</span> <span class="cn">WSDL_LOCATION</span></span>
<span id="cb10-4"><a href="#cb10-4" aria-hidden="true" tabindex="-1"></a>    <span class="cf">end</span></span>
<span id="cb10-5"><a href="#cb10-5" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb10-6"><a href="#cb10-6" aria-hidden="true" tabindex="-1"></a>    request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.authenticate_user&quot;</span> <span class="cf">do</span></span>
<span id="cb10-7"><a href="#cb10-7" aria-hidden="true" tabindex="-1"></a>        soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb10-8"><a href="#cb10-8" aria-hidden="true" tabindex="-1"></a>            <span class="wa">:user</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:name</span><span class="kw">]</span>,</span>
<span id="cb10-9"><a href="#cb10-9" aria-hidden="true" tabindex="-1"></a>            <span class="wa">:password</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:password</span><span class="kw">]</span></span>
<span id="cb10-10"><a href="#cb10-10" aria-hidden="true" tabindex="-1"></a>        <span class="kw">}</span></span>
<span id="cb10-11"><a href="#cb10-11" aria-hidden="true" tabindex="-1"></a>    <span class="cf">end</span></span>
<span id="cb10-12"><a href="#cb10-12" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb10-13"><a href="#cb10-13" aria-hidden="true" tabindex="-1"></a>    answer <span class="kw">=</span> request<span class="kw">[</span><span class="wa">:judge_authenticate_user_response</span><span class="kw">][</span><span class="wa">:answer</span><span class="kw">]</span><span class="at">.to_i</span></span>
<span id="cb10-14"><a href="#cb10-14" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> answer <span class="kw">==</span> <span class="cn">VALID_USER</span></span>
<span id="cb10-15"><a href="#cb10-15" aria-hidden="true" tabindex="-1"></a>        request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.get_user_data&quot;</span> <span class="cf">do</span></span>
<span id="cb10-16"><a href="#cb10-16" aria-hidden="true" tabindex="-1"></a>            soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb10-17"><a href="#cb10-17" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:user</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:name</span><span class="kw">]</span>,</span>
<span id="cb10-18"><a href="#cb10-18" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:password</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:password</span><span class="kw">]</span></span>
<span id="cb10-19"><a href="#cb10-19" aria-hidden="true" tabindex="-1"></a>            <span class="kw">}</span></span>
<span id="cb10-20"><a href="#cb10-20" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb10-21"><a href="#cb10-21" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb10-22"><a href="#cb10-22" aria-hidden="true" tabindex="-1"></a>        response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_get_user_data_response</span><span class="kw">]</span></span>
<span id="cb10-23"><a href="#cb10-23" aria-hidden="true" tabindex="-1"></a>        user_data <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:user</span><span class="kw">]</span></span>
<span id="cb10-24"><a href="#cb10-24" aria-hidden="true" tabindex="-1"></a>        user <span class="kw">=</span> <span class="dt">User</span><span class="at">.new</span></span>
<span id="cb10-25"><a href="#cb10-25" aria-hidden="true" tabindex="-1"></a>        user<span class="at">.id</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:id</span><span class="kw">]</span></span>
<span id="cb10-26"><a href="#cb10-26" aria-hidden="true" tabindex="-1"></a>        user<span class="at">.name</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:name</span><span class="kw">]</span></span>
<span id="cb10-27"><a href="#cb10-27" aria-hidden="true" tabindex="-1"></a>        user<span class="at">.password</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:session</span><span class="kw">][</span><span class="wa">:password</span><span class="kw">]</span></span>
<span id="cb10-28"><a href="#cb10-28" aria-hidden="true" tabindex="-1"></a>        user<span class="at">.remember_token</span> <span class="kw">=</span> user_data<span class="kw">[</span><span class="wa">:remember_token</span><span class="kw">]</span></span>
<span id="cb10-29"><a href="#cb10-29" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb10-30"><a href="#cb10-30" aria-hidden="true" tabindex="-1"></a>        sign_in user</span>
<span id="cb10-31"><a href="#cb10-31" aria-hidden="true" tabindex="-1"></a>        redirect_to root_path</span>
<span id="cb10-32"><a href="#cb10-32" aria-hidden="true" tabindex="-1"></a>    <span class="cf">else</span></span>
<span id="cb10-33"><a href="#cb10-33" aria-hidden="true" tabindex="-1"></a>        flash<span class="at">.now</span><span class="kw">[</span><span class="wa">:error</span><span class="kw">]</span> <span class="kw">=</span> <span class="vs">&#39;Combinación usuario/contraseña invalida&#39;</span></span>
<span id="cb10-34"><a href="#cb10-34" aria-hidden="true" tabindex="-1"></a>        render <span class="vs">&#39;new&#39;</span></span>
<span id="cb10-35"><a href="#cb10-35" aria-hidden="true" tabindex="-1"></a>    <span class="cf">end</span></span>
<span id="cb10-36"><a href="#cb10-36" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<h3 id="cierre-de-sesión">Cierre de sesión</h3>
<p>Cerrar sesión básicamente equivale a destruir los datos del usuario actual para que ya no se pueda comunicar con el servidor como usuario registrado, esta acción se encuentra en el método <em>destroy</em>, en el mismo archivo del paso anterior.</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> destroy</span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a>    sign_out</span>
<span id="cb11-3"><a href="#cb11-3" aria-hidden="true" tabindex="-1"></a>    redirect_to root_path</span>
<span id="cb11-4"><a href="#cb11-4" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<p>El método destroy llama a otro método, <em>sign_out</em>, el cual se encuentra en el archivo <em>app/helpers/sessions_helper.rb</em>, junto con otros métodos auxiliares para el manejo de sesiones.</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb12-1"><a href="#cb12-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> sign_out</span>
<span id="cb12-2"><a href="#cb12-2" aria-hidden="true" tabindex="-1"></a>    <span class="dv">self</span><span class="at">.current_user</span> <span class="kw">=</span> <span class="dv">nil</span></span>
<span id="cb12-3"><a href="#cb12-3" aria-hidden="true" tabindex="-1"></a>    cookies<span class="at">.delete</span>(<span class="wa">:remember_token</span>)</span>
<span id="cb12-4"><a href="#cb12-4" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<h3 id="creación-de-un-problema">Creación de un problema</h3>
<p>La lógica para crear un problema y enviarlo al servidor es la siguiente.</p>
<p>El archivo <em>app/views/problems/new.html.erb</em> contiene el diseño del formulario que se muestra en la figura .</p>
<p>El archivo <em>app/controllers/problems_controller.rb</em> contiene la lógica de la creación. El método <em>new</em> crea un objeto de tipo <strong>Problem</strong>, cuyos datos miembro estan enlazados a los campos del formulario.</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> new</span>
<span id="cb13-2"><a href="#cb13-2" aria-hidden="true" tabindex="-1"></a>    <span class="ot">@problem</span> <span class="kw">=</span> <span class="dt">Problem</span><span class="at">.new</span></span>
<span id="cb13-3"><a href="#cb13-3" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<p>Cuando el usuario envía el problema, el método <em>create</em> se encarga de realizar la conexión al servidor, enviar los datos y proveer una respuesta al usuario.</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb14-1"><a href="#cb14-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> create</span>
<span id="cb14-2"><a href="#cb14-2" aria-hidden="true" tabindex="-1"></a>    <span class="ot">@problem_saved</span> <span class="kw">=</span> <span class="dv">false</span></span>
<span id="cb14-3"><a href="#cb14-3" aria-hidden="true" tabindex="-1"></a>    parameters <span class="kw">=</span> problem_params</span>
<span id="cb14-4"><a href="#cb14-4" aria-hidden="true" tabindex="-1"></a>    <span class="ot">@problem</span> <span class="kw">=</span> <span class="dt">Problem</span><span class="at">.new</span>(parameters)</span>
<span id="cb14-5"><a href="#cb14-5" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> <span class="cf">not</span> <span class="ot">@problem</span><span class="at">.valid?</span></span>
<span id="cb14-6"><a href="#cb14-6" aria-hidden="true" tabindex="-1"></a>        render <span class="vs">&#39;new&#39;</span></span>
<span id="cb14-7"><a href="#cb14-7" aria-hidden="true" tabindex="-1"></a>    <span class="cf">else</span></span>
<span id="cb14-8"><a href="#cb14-8" aria-hidden="true" tabindex="-1"></a>        client <span class="kw">=</span> <span class="dt">Savon</span><span class="kw">::</span><span class="dt">Client</span><span class="at">.new</span> <span class="cf">do</span></span>
<span id="cb14-9"><a href="#cb14-9" aria-hidden="true" tabindex="-1"></a>            wsdl<span class="at">.document</span> <span class="kw">=</span> <span class="cn">WSDL_LOCATION</span></span>
<span id="cb14-10"><a href="#cb14-10" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb14-11"><a href="#cb14-11" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-12"><a href="#cb14-12" aria-hidden="true" tabindex="-1"></a>        title <span class="kw">=</span> parameters<span class="kw">[</span><span class="wa">:title</span><span class="kw">]</span></span>
<span id="cb14-13"><a href="#cb14-13" aria-hidden="true" tabindex="-1"></a>        description <span class="kw">=</span> parameters<span class="kw">[</span><span class="wa">:description</span><span class="kw">]</span></span>
<span id="cb14-14"><a href="#cb14-14" aria-hidden="true" tabindex="-1"></a>        author <span class="kw">=</span> parameters<span class="kw">[</span><span class="wa">:author</span><span class="kw">]</span></span>
<span id="cb14-15"><a href="#cb14-15" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-16"><a href="#cb14-16" aria-hidden="true" tabindex="-1"></a>        request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.create_problem&quot;</span> <span class="cf">do</span></span>
<span id="cb14-17"><a href="#cb14-17" aria-hidden="true" tabindex="-1"></a>            soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb14-18"><a href="#cb14-18" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:user</span> <span class="kw">=&gt;</span> current_user<span class="at">.name</span>,</span>
<span id="cb14-19"><a href="#cb14-19" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:password</span> <span class="kw">=&gt;</span> current_user<span class="at">.password</span>,</span>
<span id="cb14-20"><a href="#cb14-20" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:title</span> <span class="kw">=&gt;</span> title,</span>
<span id="cb14-21"><a href="#cb14-21" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:description</span> <span class="kw">=&gt;</span> <span class="cn">CGI</span><span class="at">.escapeHTML</span>(description),</span>
<span id="cb14-22"><a href="#cb14-22" aria-hidden="true" tabindex="-1"></a>                <span class="wa">:author</span> <span class="kw">=&gt;</span> author</span>
<span id="cb14-23"><a href="#cb14-23" aria-hidden="true" tabindex="-1"></a>            <span class="kw">}</span></span>
<span id="cb14-24"><a href="#cb14-24" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb14-25"><a href="#cb14-25" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-26"><a href="#cb14-26" aria-hidden="true" tabindex="-1"></a>        response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_create_problem_response</span><span class="kw">]</span></span>
<span id="cb14-27"><a href="#cb14-27" aria-hidden="true" tabindex="-1"></a>        <span class="ot">@insert_problem_code</span> <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">]</span></span>
<span id="cb14-28"><a href="#cb14-28" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-29"><a href="#cb14-29" aria-hidden="true" tabindex="-1"></a>        <span class="cf">if</span> <span class="ot">@insert_problem_code</span><span class="at">.to_i</span> <span class="kw">&gt;</span> <span class="dv">0</span></span>
<span id="cb14-30"><a href="#cb14-30" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem_saved</span> <span class="kw">=</span> <span class="dv">true</span></span>
<span id="cb14-31"><a href="#cb14-31" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem_saved_id</span> <span class="kw">=</span> <span class="ot">@insert_problem_code</span></span>
<span id="cb14-32"><a href="#cb14-32" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem_title</span> <span class="kw">=</span> parameters<span class="kw">[</span><span class="wa">:title</span><span class="kw">]</span></span>
<span id="cb14-33"><a href="#cb14-33" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem_statement</span> <span class="kw">=</span> parameters<span class="kw">[</span><span class="wa">:description</span><span class="kw">]</span></span>
<span id="cb14-34"><a href="#cb14-34" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem_author</span> <span class="kw">=</span> author</span>
<span id="cb14-35"><a href="#cb14-35" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-36"><a href="#cb14-36" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@test_cases</span> <span class="kw">=</span> <span class="kw">[]</span></span>
<span id="cb14-37"><a href="#cb14-37" aria-hidden="true" tabindex="-1"></a>            id <span class="kw">=</span> <span class="ot">@insert_problem_code</span><span class="at">.to_i</span></span>
<span id="cb14-38"><a href="#cb14-38" aria-hidden="true" tabindex="-1"></a>            <span class="dv">1</span><span class="at">.upto</span>(<span class="cn">TEST_CASES_PER_PROBLEM</span>) <span class="cf">do</span> <span class="kw">|</span>tc<span class="kw">|</span></span>
<span id="cb14-39"><a href="#cb14-39" aria-hidden="true" tabindex="-1"></a>                input_key  <span class="kw">=</span> <span class="st">&quot;in_&quot;</span> <span class="kw">+</span> tc<span class="at">.to_s</span></span>
<span id="cb14-40"><a href="#cb14-40" aria-hidden="true" tabindex="-1"></a>                output_key <span class="kw">=</span> <span class="st">&quot;out_&quot;</span> <span class="kw">+</span> tc<span class="at">.to_s</span></span>
<span id="cb14-41"><a href="#cb14-41" aria-hidden="true" tabindex="-1"></a>                request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.save_test_case&quot;</span> <span class="cf">do</span></span>
<span id="cb14-42"><a href="#cb14-42" aria-hidden="true" tabindex="-1"></a>                    soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb14-43"><a href="#cb14-43" aria-hidden="true" tabindex="-1"></a>                        <span class="wa">:user</span> <span class="kw">=&gt;</span> current_user<span class="at">.name</span>,</span>
<span id="cb14-44"><a href="#cb14-44" aria-hidden="true" tabindex="-1"></a>                        <span class="wa">:password</span> <span class="kw">=&gt;</span> current_user<span class="at">.password</span>,</span>
<span id="cb14-45"><a href="#cb14-45" aria-hidden="true" tabindex="-1"></a>                        <span class="wa">:id_problem</span> <span class="kw">=&gt;</span> id,</span>
<span id="cb14-46"><a href="#cb14-46" aria-hidden="true" tabindex="-1"></a>                        <span class="wa">:input</span> <span class="kw">=&gt;</span> <span class="cn">CGI</span><span class="at">.escapeHTML</span>(params<span class="kw">[</span>input_key<span class="kw">]</span>),</span>
<span id="cb14-47"><a href="#cb14-47" aria-hidden="true" tabindex="-1"></a>                        <span class="wa">:output</span> <span class="kw">=&gt;</span> <span class="cn">CGI</span><span class="at">.escapeHTML</span>(params<span class="kw">[</span>output_key<span class="kw">]</span>)</span>
<span id="cb14-48"><a href="#cb14-48" aria-hidden="true" tabindex="-1"></a>                    <span class="kw">}</span></span>
<span id="cb14-49"><a href="#cb14-49" aria-hidden="true" tabindex="-1"></a>                <span class="cf">end</span></span>
<span id="cb14-50"><a href="#cb14-50" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-51"><a href="#cb14-51" aria-hidden="true" tabindex="-1"></a>                response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_save_test_case_response</span><span class="kw">]</span></span>
<span id="cb14-52"><a href="#cb14-52" aria-hidden="true" tabindex="-1"></a>                test_id <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">]</span><span class="at">.to_i</span></span>
<span id="cb14-53"><a href="#cb14-53" aria-hidden="true" tabindex="-1"></a>                <span class="ot">@test_cases</span> <span class="kw">&lt;&lt;</span> <span class="kw">{</span><span class="st">&quot;id&quot;</span> <span class="kw">=&gt;</span> test_id, <span class="st">&quot;in&quot;</span> <span class="kw">=&gt;</span> params<span class="kw">[</span>input_key<span class="kw">]</span>,</span>
<span id="cb14-54"><a href="#cb14-54" aria-hidden="true" tabindex="-1"></a>                                <span class="st">&quot;out&quot;</span> <span class="kw">=&gt;</span> params<span class="kw">[</span>output_key<span class="kw">]}</span></span>
<span id="cb14-55"><a href="#cb14-55" aria-hidden="true" tabindex="-1"></a>            <span class="cf">end</span></span>
<span id="cb14-56"><a href="#cb14-56" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-57"><a href="#cb14-57" aria-hidden="true" tabindex="-1"></a>            render <span class="vs">&#39;saved&#39;</span></span>
<span id="cb14-58"><a href="#cb14-58" aria-hidden="true" tabindex="-1"></a>        <span class="cf">else</span></span>
<span id="cb14-59"><a href="#cb14-59" aria-hidden="true" tabindex="-1"></a>            msg <span class="kw">=</span> <span class="st">&quot;Ocurrio un error al intentar guardar el problema.&quot;</span></span>
<span id="cb14-60"><a href="#cb14-60" aria-hidden="true" tabindex="-1"></a>            <span class="ot">@problem</span><span class="at">.errors.add</span>(<span class="st">&quot;Error:&quot;</span>, msg)</span>
<span id="cb14-61"><a href="#cb14-61" aria-hidden="true" tabindex="-1"></a>            render <span class="vs">&#39;new&#39;</span></span>
<span id="cb14-62"><a href="#cb14-62" aria-hidden="true" tabindex="-1"></a>        <span class="cf">end</span></span>
<span id="cb14-63"><a href="#cb14-63" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb14-64"><a href="#cb14-64" aria-hidden="true" tabindex="-1"></a>    <span class="cf">end</span></span>
<span id="cb14-65"><a href="#cb14-65" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<h3 id="envio-de-una-solución">Envio de una solución</h3>
<p>El formulario para el envio de soluciones se localiza en el archivo <em>app/views/solutions/new.html.erb</em>. El controlador <strong>Solutions</strong> es el que se encarga de la lógica de esta operación:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode rb"><code class="sourceCode ruby"><span id="cb15-1"><a href="#cb15-1" aria-hidden="true" tabindex="-1"></a><span class="cf">def</span> create</span>
<span id="cb15-2"><a href="#cb15-2" aria-hidden="true" tabindex="-1"></a>  <span class="ot">@id_problem</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:id_problem</span><span class="kw">]</span></span>
<span id="cb15-3"><a href="#cb15-3" aria-hidden="true" tabindex="-1"></a>  <span class="ot">@id_user</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:id_user</span><span class="kw">]</span></span>
<span id="cb15-4"><a href="#cb15-4" aria-hidden="true" tabindex="-1"></a>  <span class="ot">@source_code</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:source_code</span><span class="kw">]</span></span>
<span id="cb15-5"><a href="#cb15-5" aria-hidden="true" tabindex="-1"></a>  <span class="ot">@language</span> <span class="kw">=</span> params<span class="kw">[</span><span class="wa">:language</span><span class="kw">]</span></span>
<span id="cb15-6"><a href="#cb15-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-7"><a href="#cb15-7" aria-hidden="true" tabindex="-1"></a>  client <span class="kw">=</span> <span class="dt">Savon</span><span class="kw">::</span><span class="dt">Client</span><span class="at">.new</span> <span class="cf">do</span></span>
<span id="cb15-8"><a href="#cb15-8" aria-hidden="true" tabindex="-1"></a>      wsdl<span class="at">.document</span> <span class="kw">=</span> <span class="cn">WSDL_LOCATION</span></span>
<span id="cb15-9"><a href="#cb15-9" aria-hidden="true" tabindex="-1"></a>  <span class="cf">end</span></span>
<span id="cb15-10"><a href="#cb15-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-11"><a href="#cb15-11" aria-hidden="true" tabindex="-1"></a>  request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.save_solution&quot;</span> <span class="cf">do</span></span>
<span id="cb15-12"><a href="#cb15-12" aria-hidden="true" tabindex="-1"></a>      soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span></span>
<span id="cb15-13"><a href="#cb15-13" aria-hidden="true" tabindex="-1"></a>          <span class="wa">:user</span> <span class="kw">=&gt;</span> current_user<span class="at">.name</span>,</span>
<span id="cb15-14"><a href="#cb15-14" aria-hidden="true" tabindex="-1"></a>          <span class="wa">:password</span> <span class="kw">=&gt;</span> current_user<span class="at">.password</span>,</span>
<span id="cb15-15"><a href="#cb15-15" aria-hidden="true" tabindex="-1"></a>          <span class="wa">:id_problem</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:id_problem</span><span class="kw">]</span>,</span>
<span id="cb15-16"><a href="#cb15-16" aria-hidden="true" tabindex="-1"></a>          <span class="wa">:source_code</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:source_code</span><span class="kw">]</span>,</span>
<span id="cb15-17"><a href="#cb15-17" aria-hidden="true" tabindex="-1"></a>          <span class="wa">:language</span> <span class="kw">=&gt;</span> params<span class="kw">[</span><span class="wa">:language</span><span class="kw">]</span></span>
<span id="cb15-18"><a href="#cb15-18" aria-hidden="true" tabindex="-1"></a>      <span class="kw">}</span></span>
<span id="cb15-19"><a href="#cb15-19" aria-hidden="true" tabindex="-1"></a>  <span class="cf">end</span></span>
<span id="cb15-20"><a href="#cb15-20" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-21"><a href="#cb15-21" aria-hidden="true" tabindex="-1"></a>  response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_save_solution_response</span><span class="kw">]</span></span>
<span id="cb15-22"><a href="#cb15-22" aria-hidden="true" tabindex="-1"></a>  <span class="ot">@submission_answer</span> <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">]</span></span>
<span id="cb15-23"><a href="#cb15-23" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-24"><a href="#cb15-24" aria-hidden="true" tabindex="-1"></a>  <span class="cf">if</span> <span class="ot">@submission_answer</span><span class="kw">[</span><span class="wa">:error</span><span class="kw">]</span><span class="at">.to_i</span> <span class="kw">==</span> <span class="cn">SU_COMPILATION</span></span>
<span id="cb15-25"><a href="#cb15-25" aria-hidden="true" tabindex="-1"></a>      id <span class="kw">=</span> <span class="ot">@submission_answer</span><span class="kw">[</span><span class="wa">:id</span><span class="kw">]</span><span class="at">.to_i</span></span>
<span id="cb15-26"><a href="#cb15-26" aria-hidden="true" tabindex="-1"></a>      request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.test_solution&quot;</span> <span class="cf">do</span></span>
<span id="cb15-27"><a href="#cb15-27" aria-hidden="true" tabindex="-1"></a>          soap<span class="at">.body</span> <span class="kw">=</span> <span class="kw">{</span> </span>
<span id="cb15-28"><a href="#cb15-28" aria-hidden="true" tabindex="-1"></a>              <span class="wa">:user</span> <span class="kw">=&gt;</span> current_user<span class="at">.name</span>,</span>
<span id="cb15-29"><a href="#cb15-29" aria-hidden="true" tabindex="-1"></a>              <span class="wa">:password</span> <span class="kw">=&gt;</span> current_user<span class="at">.password</span>,</span>
<span id="cb15-30"><a href="#cb15-30" aria-hidden="true" tabindex="-1"></a>              <span class="wa">:id_solution</span> <span class="kw">=&gt;</span> id,</span>
<span id="cb15-31"><a href="#cb15-31" aria-hidden="true" tabindex="-1"></a>          <span class="kw">}</span></span>
<span id="cb15-32"><a href="#cb15-32" aria-hidden="true" tabindex="-1"></a>      <span class="cf">end</span></span>
<span id="cb15-33"><a href="#cb15-33" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-34"><a href="#cb15-34" aria-hidden="true" tabindex="-1"></a>      response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_test_solution_response</span><span class="kw">]</span></span>
<span id="cb15-35"><a href="#cb15-35" aria-hidden="true" tabindex="-1"></a>      <span class="ot">@test_results</span> <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:return</span><span class="kw">][</span><span class="wa">:item</span><span class="kw">]</span></span>
<span id="cb15-36"><a href="#cb15-36" aria-hidden="true" tabindex="-1"></a>  <span class="cf">else</span></span>
<span id="cb15-37"><a href="#cb15-37" aria-hidden="true" tabindex="-1"></a>      request <span class="kw">=</span> client<span class="at">.request</span> <span class="st">&quot;Judge.get_last_error&quot;</span></span>
<span id="cb15-38"><a href="#cb15-38" aria-hidden="true" tabindex="-1"></a>      response <span class="kw">=</span> request<span class="at">.to_hash</span><span class="kw">[</span><span class="wa">:judge_get_last_error_response</span><span class="kw">]</span></span>
<span id="cb15-39"><a href="#cb15-39" aria-hidden="true" tabindex="-1"></a>      <span class="ot">@error_message</span> <span class="kw">=</span> response<span class="kw">[</span><span class="wa">:message</span><span class="kw">]</span></span>
<span id="cb15-40"><a href="#cb15-40" aria-hidden="true" tabindex="-1"></a>  <span class="cf">end</span></span>
<span id="cb15-41"><a href="#cb15-41" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb15-42"><a href="#cb15-42" aria-hidden="true" tabindex="-1"></a>  render <span class="vs">&#39;submission_result&#39;</span></span>
<span id="cb15-43"><a href="#cb15-43" aria-hidden="true" tabindex="-1"></a><span class="cf">end</span></span></code></pre></div>
<p>Estas son las partes más importantes, creo que con esto podrán entender el resto de las operaciones.</p>
<h3 id="notas-sobre-el-uso-de-la-base-de-datos-en-ror">Notas sobre el uso de la base de datos en ROR</h3>
<p>Como habrán observado, empleamos tres tablas para almacenar nuestros datos, sin embargo, los datos nunca son almacenados en estas tablas ya que todo se envía al servidor remoto, esta es una alteración que he tenido que realizar para aprovechar las facilidades de Ruby on Rails pero a la vez cumplir con el requisito de emplear un Web service.</p>
<p>Al utilizar los modelos que proporciona Rails se nos facilita mucho la creación de formularios y la validación de los datos.</p>
<p>Si prescindiéramos del Web service y empleáramos las bases de datos nativas de Rails, la complejidad del cliente sería mucho menor.</p>
<h2 id="código-fuente">Código fuente</h2>
<p>El código tanto del cliente como del servidor están disponibles en Bitbucket en las siguientes direcciones:</p>
<ul>
<li>
<a href="https://bitbucket.org/rendon/microoj/admin">https://bitbucket.org/rendon/microoj</a>
</li>
<li>
<a href="https://bitbucket.org/rendon/microoj_ws">https://bitbucket.org/rendon/microoj_ws</a>
</li>
</ul>
<p>O bien pueden clonar los repositorios desde la consola:</p>
<div class="sourceCode" id="cb16"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb16-1"><a href="#cb16-1" aria-hidden="true" tabindex="-1"></a><span class="ex">$</span> git clone https://rendon@bitbucket.org/rendon/microoj.git</span>
<span id="cb16-2"><a href="#cb16-2" aria-hidden="true" tabindex="-1"></a><span class="ex">$</span> git clone https://rendon@bitbucket.org/rendon/microoj_ws.git</span></code></pre></div>
<p>La licencia de ambos proyectos es GPLv3, con excepción de los componentes empleados, los cuales tienen sus propias licencias.</p>
<h2 id="por-hacer">Por hacer</h2>
<p>Un sistema de juez en línea es más complejo de lo que se muestra en esta práctica, a continuación se listan algunas características deseables:</p>
<ul>
<li>
Mejorar el manejo de usuarios. Que los usuarios puedan ver el perfil de los demás participantes y ver su progreso.
</li>
<li>
Reportar estadísticas de cada usuario, como son, problemas resueltos, número de intentos, cuantos de ellos ha sido aceptados, cuantos rechazados, etc. Toda esta información debería ser mostrada en el perfil del usuario.
</li>
<li>
Implementar un sistema de <em>Ranking</em>, en mi experiencia, esto es un factor de motivación.
</li>
<li>
<strong>RETO:</strong> Soportar concursos en tiempo real.
</li>
</ul>
<h2 id="referencias">Referencias</h2>
<ul>
<li><a href="http://www.w3.org/TR/ws-arch/">Web Services Architecture</a></li>
<li><a href="http://www.sitepoint.com/web-services-with-php-and-soap-1/">Creating Web Services with PHP and SOAP</a></li>
<li><a href="http://nusoap.sourceforge.net/">Documentación de NuSOAP</a></li>
<li><a href="http://ryanbigg.com/2010/12/ubuntu-ruby-rvm-rails-and-you/">Ubuntu, Ruby, RVM, Rails, and You</a></li>
<li><a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a></li>
<li><a href="http://savonrb.com/">Documentación de Savon</a></li>
</ul>

