<!-- vim: set spelllang=es_mx: -->
<h1 id="evaluador-de-expresiones-matematicas">Evaluador de expresiones matematicas</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>Suponga</em></span>
	
    <span class='tags'><span class="fa-solid fa-tag"></span></span>
</p>

<p>En este articulo se plantea el problema de idear un algoritmo que permita evaluar este tipo de expresiones en un ordenador. A continuación se presenta una posible solución bastante sencilla y eficiente.</p>
<p>En la actualidad se conocen tres notaciones para representar expresiones aritméticas, <a href="http://es.wikipedia.org/wiki/Notaci%C3%B3n_polaca">prefija</a>, <a href="http://es.wikipedia.org/wiki/Notaci%C3%B3n_de_infijo">infija</a> y <a href="http://es.wikipedia.org/wiki/Notaci%C3%B3n_polaca_inversa">posfija</a>. Normalmente nosotros empleamos notación infija, que es aquella donde el operador se posiciona en medio de los dos operandos.</p>
<p>$ A + B $</p>
<p>Esta notación nos facilita a nosotros(los humanos) evaluar las expresiones, sin embargo para una computadora es más fácil evaluar las expresiones si se encuentran en notación posfija o prefija, la primera es aquella donde el operador se encuentra después de los dos operandos.</p>
<p>$ A B + $</p>
<p>Mientras que la notación prefija consiste en colocar primeramente el operador y después los dos operandos.</p>
<p>$ + A B $</p>
<p>Ambas notaciones, prefija y postfija facilitan la evaluación de este tipo de expresiones, siendo la notación posfija la elegida para trabajar en este artículo.</p>
<h2 id="algoritmos">Algoritmos</h2>
<p>Antes de comenzar con los algoritmos es necesario especificar los elementos validos de las expresiones que pretendemos trabajar. La siguiente tabla ilustra los operadores soportados y su precedencia.</p>
<table>
<tr>
<td>
Operador
</td>
<pre><code>&lt;td&gt;Precedencia&lt;/td&gt;  &lt;td&gt;Operación&lt;/td&gt;             &lt;/tr&gt; 
&lt;tr&gt;&lt;td&gt;^&lt;/td&gt;           &lt;td&gt;3&lt;/td&gt;            &lt;td&gt;Exponenciación&lt;/td&gt;        &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;-&lt;/td&gt;           &lt;td&gt;3&lt;/td&gt;            &lt;td&gt;Negacion&lt;/td&gt;              &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;*&lt;/td&gt;           &lt;td&gt;2&lt;/td&gt;            &lt;td&gt;Multiplicación&lt;/td&gt;        &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;/&lt;/td&gt;           &lt;td&gt;2&lt;/td&gt;            &lt;td&gt;División&lt;/td&gt;              &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;%&lt;/td&gt;           &lt;td&gt;2&lt;/td&gt;            &lt;td&gt;Residuo&lt;/td&gt;               &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;+&lt;/td&gt;           &lt;td&gt;1&lt;/td&gt;            &lt;td&gt;Adición&lt;/td&gt;               &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;-&lt;/td&gt;           &lt;td&gt;1&lt;/td&gt;            &lt;td&gt;Sustracción&lt;/td&gt;           &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;(&lt;/td&gt;           &lt;td&gt;-1&lt;/td&gt;            &lt;td&gt;Agrupación-Apertura&lt;/td&gt;   &lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;)&lt;/td&gt;           &lt;td&gt;?&lt;/td&gt;            &lt;td&gt;Agrupación-Clausura&lt;/td&gt;   &lt;/tr&gt;</code></pre>
</table>
<p>La precedencia de una operación indica el orden que que debe realizarse, las operaciones de mayor precedencia deben realizarse primero, por ejemplo, una multiplicación debe realizarse antes que una adición, exponenciación antes que la división, operaciones de igual precedencia se evalúan de izquierda a derecha. Las operaciones agrupadas entre paréntesis tienen la más alta prioridad sin embargo se le asigna la presencia -1 porque el algoritmo así lo requiere.</p>
<p>Antes de proceder con la evaluación de expresiones es necesario tener en cuenta que para que el algoritmo funcione correctamente la expresión debe tener una sintaxis correcta, por ejemplo, una distribución de paréntesis adecuada, también es indispensable que la expresión emplee únicamente elementos válidos, es decir, no emplear caracteres que no sean operadores ni operandos como pueden ser <code>"$?\_%#</code>. Es difícil crear una aplicación que tome en cuenta todos los posibles casos de error que pudieran surgir, sin embargo podemos abordar los más comunes, verificar el uso de elementos validos es muy fácil y se consigue con solo iterar por toda la cadena y comprobar que los caracteres sean operadores(+-*/^) o dígitos(0-9). La siguiente función comprueba el balanceo de paréntesis.</p>
<p>Embed: <code>check.c</code></p>
<p>El algoritmo que aquí se emplea utiliza una <em>pila</em>, que es una estructura de datos lineal donde únicamente podemos insertar(push) o eliminar(pop) elementos por uno de sus extremos con la siguiente regla: Último en entrar, primero en salir(LIFO).</p>
<p>La idea es muy simple y consiste en recorrer la cadena de caracteres y cada vez que encontremos un paréntesis de apertura(‘(’) lo metemos a una pila(push). Si encontramos un paréntesis de clausura(‘)’) en la pila debe de haber un paréntesis de apertura y lo quitamos de la pila(pop), si no es así entonces hay un error ya que existe un paréntesis que cierra sin que exista uno que abra. Debido a que el número de paréntesis que abren debe ser igual al número de paréntesis que cierran al final la pila debe quedar vacía o de lo contrario hay error.</p>
<p>La función que se muestra a continuación toma una expresión aritmética que previamente ha sido analizada para comprobar el balance de paréntesis y la convierte a notación posfija.</p>
<p>Embed: <code>to-postfix.c</code></p>
<p>El algoritmo que se emplea en la función anterior lo pueden encontrar en casi cualquier libro de estructuras de datos, generalmente cuando se abordan los temas de recursión o pilas. De todas formas aquí les dejo <a href="http://montcs.bloomu.edu/~bobmon/Information/RPN/infix2rpn.shtml">este link</a> donde pueden encontrar los detalles.</p>
<p>Teniendo la expresión en notación posfija solo nos resta la función que realiza la evaluación.</p>
<p>Embed: <code>eval.c</code></p>
<p>El algoritmo que empleamos para evaluar la expresión posfija consiste en avanzar por la expresión y si el elemento es un operando(dígito) lo ponemos en la pila, pero si es un operador(+-*/%^) entonces retiramos los dos(las operaciones son binarias) elementos de lo más alto de la pila en orden inverso, es decir, primero el segundo operando y después el primer operando(el ultimo es el primero ;)), realizamos la operación correspondiente y colocamos el resultado en la pila y continuamos analizando la expresión. Siguiendo estos pasos al final quedara la pila con un solo elemento, el resultado.</p>
<p>Desafortunadamente y como ya se habrán dado cuenta nuestro algoritmo solo permite operandos de un solo dígito y por tanto si introducimos algo como “2.3+(172342+32/1.2)” el programa no producirá el resultado correcto. Bien podríamos modificar el algoritmo para que sea capaz de manejar este tipo de entradas pero lo cierto es que existen otras técnicas más adecuadas para este tipo de situaciones(las más comunes) como la que se describe en el capítulo 40 del libro <em>The complete reference C++, third edition</em> de <strong>Herbert Schildt</strong> y que abordaremos en artículos posteriores.</p>
<p>Les dejo el código fuente completo y algunas referencias para más información. Hasta la próxima!.</p>
<h2 id="referencias">Referencias</h2>
<table>
<tr>
<td>
[1]
</td>
<td>
Jessen T. Havill, <a href="http://personal.denison.edu/~havill/algorithmics/algs/postfix.pdf">Postfix algorithms</a>&lt;/td
</tr>
<tr>
<td>
[2]
</td>
<td>
Robert Sedgewick, Kevin Wayne, <strong><a href="http://introcs.cs.princeton.edu/java/home/">Introduction to programming in Java</a></strong>, <em>Stacks and queues</em>
</td>
</tr>
</table>

