<div id="content_list">
  <h1>Problem solving</h1>
  <ul>
    <li><a href="/posts/arquimedes-pi/" target="_blank">Arquímedes PI</a></li>
    <li><a href="/posts/projecteuler-problema-1/" target="_blank">ProjectEuler: Problema 1</a></li>
    <li><a href="/posts/projecteuler-problema-2/" target="_blank">ProjectEuler: Problema 2</a></li>
    <li><a href="/posts/projecteuler-problema-3/" target="_blank">ProjectEuler: Problema 3</a></li>
    <li><a href="/posts/good-words/" target="_blank">Good Words</a></li>
    <li><a href="/posts/cf-172/" target="_blank">Codeforces R_172_Div2</a></li>
    <li><a href="/posts/cf-174/" target="_blank">Codeforces R_174_Div2</a></li>
    <li><a href="/posts/omi-tg-sumando-sumas/" target="_blank">OMI Training Gate: Sumando sumas (SUMSUMS)</a></li>
  </ul>
  <h1>Code recipes</h1>
  <ul>
    <li><a href="/posts/recipe-001-floyd-warshall/" target="_blank">Recipe 001: Floyd-Warshall</a></li>
    <li><a href="/posts/recipe-002-dfs/" target="_blank">Recipe 002: Depth-First Search</a></li>
    <li><a href="/posts/recipe-003-bfs/" target="_blank">Recipe 003: Breadth-First Search</a></li>
  </ul>

  <h1>Tutorials</h1>
  <h2>Software development</h2>
  <ul>
    <li><a href="/posts/java-rw-json-jackson/" target="_blank">Read and Write JSON with Jackson in Java</a></li>
  </ul>

  <h2>Data structures</h2>
  <ul>
    <li><a href="/posts/recursion/" target="_blank">Recursión</a></li>
  </ul>
  <h2>Algorithms</h2>
  <ul>
    <li><a href="/posts/articulation-points/" target="_blank">Articulation points</a></li>
    <li><a href="/posts/ternary-search" target="_blank">Ternary search</a></li>
    <li><a href="/posts/andrews-convex-hull-algorithm/" target="_blank">Andrew's Convex Hull Algorithm</a></li>
    <li><a href="/posts/z-algorithm" target="_blank">Z Algorithm</a></li>
    <li><a href="/posts/aho-corasick" target="_blank">Aho-Corasick</a></li>
    <li><a href="/posts/huffman-coding" target="_blank">Huffman coding</a></li>
    <li><a href="/posts/a-star" target="_blank">A* algorithm</a></li>
    <li><a href="/posts/toposort" target="_blank">Topological sorting</a></li>
    <li><a href="/posts/eulerian-tour" target="_blank">Eulerian tour</a></li>
  </ul>
  <h2>Math</h2>
  <ul>
    <li><a href="/posts/big-mod/" target="_blank">Big Mod</a></li>
    <li><a href="/posts/numeros-y-strings/" target="_blank">Números y Strings</a></li>
    <li><a href="/posts/evaluador-de-expresiones-aritmeticas/" target="_blank">Evaluador de expresiones aritméticas</a></li>
    <li><a href="/posts/factorial-y-ceros/" target="_blank">Factorial y ceros</a></li>
    <li><a href="/posts/fibonacci-nuevamente/" target="_blank">Fibonacci nuevamente</a></li>
    <li><a href="/posts/de-poligonos-y-estrellas/" target="_blank">De poligonos y estrellas</a></li>
    <li><a href="/posts/jacobi-method/" target="_blank">Jacobi and Gauss-Seidel methods for solving systems of linear equations</a></li>
  </ul>
  <h2>GNU/Linux</h2>
  <ul>
    <li><a href="/posts/resetear-contrasenia-del-root/" target="_blank">Resetear la contraseña del root</a></li>
    <li><a href="/posts/arduino-control-speakers" target="_blank">Control the volume of your PC speakers with Arduino</a></li>
    <li><a href="/posts/arduino-game-controller/" target="_blank">Game controller with Arduino</a></li>
    <li><a href="/posts/tmux/" target="_blank">Herramientas de un desarrollador I: Tmux</a></li>
    <li><a href="/posts/bash/" target="_blank">Herramientas de un desarrollador II: Bash</a></li>
    <li><a href="/posts/enable-mysql-remote-connection/" target="_blank">Enable MySQL remote connection</a></li>
    <li><a href="/posts/setup-dhcp-server/" target="_blank">Setup a DHCP server</a></li>
    <li><a href="/posts/setup-jdk" target="_blank">Instalación y Configuración de Java JDK</a></li>
    <li><a href="/posts/setup-android-sdk" target="_blank">Instalación y configuración del Android SDK</a></li>
    <li><a href="/posts/setup-lamp/" target="_blank">Configurar Entorno LAMP</a></li>
    <li><a href="/posts/setup-ruby-on-rails/" target="_blank">Instalación y configuración de Ruby On Rails</a></li>
    <li><a href="/posts/dns-server-gnu-linux/" target="_blank">Servidor de DNS en Debian GNU/Linux</a></li>
    <li><a href="/posts/testing-a-web-service/" target="_blank">Testing a Web service</a></li>
    <li><a href="/posts/procesos/" target="_blank">Procesos</a></li>
  </ul>
  <h1>School</h1>
  <ul>
    <li><a href="/posts/report-i-send-sms/" target="_blank">Reporte I: Envio de mensajes SMS desde la PC</a></li>
    <li><a href="/posts/report-ii-microoj-web-services/" target="_blank">Reporte II: MicroOJ (Web services)</a></li>
    <li><a href="/posts/report-iii-wp8-web-services/" target="_blank">Reporte III: Web service con aplicación Windows Phone 8 como cliente</a></li>
    <li><a href="/posts/report-iv-bb10-web-service/" target="_blank">Reporte IV: Web service con aplicación Blacberry 10 como cliente</a></li>
    <li><a href="/posts/report-v-android-web-service/" target="_blank">Reporte V: Web service con aplicación Android como cliente</a></li>
  </ul>
  <h1>Otros</h1>
  <ul>
    <li><a href="/posts/pixelize" target="_blank">Pixelize</a></li>
    <li><a href="/posts/gimp-scripting/" target="_blank">Gimp scripting</a></li>
    <li><a href="/posts/vimrepress" target="_blank">Publica en wordpress usando [g]Vim</a></li>
    <li><a href="/posts/mysql-workbench-libtool-problem/" target="_blank">Problems with libtool when installing MySQL Workbench from source code</a></li>
  </ul>
</div>
