<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LetMeThink.mx <%= @title ? " | #{@title}" : '' %></title>

    <link href="/stylesheets/pandoc.css" rel="stylesheet">

    <!-- https://github.com/kognise/water.css -->
    <link href="/stylesheets/water.dark.min.css" rel="stylesheet">

    <link href="/stylesheets/layout.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4f74e5faf2.js" crossorigin="anonymous"></script>
  </head>
  <!-- Override water's padding -->
  <body style='padding: 0 0;'>

    <div>
      <ul class='navbar'>
        <li class='navbar-item'><a href="/">LetMeThink.mx</a></li>
      </ul>
    </div>

    <div class='content'>
      <%= yield %>
    </div>

    <script src="/javascript/jquery-3.7.1.min.js"></script>

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$','$'], ['\\(','\\)']]
        }
      };
    </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script src='/javascript/tex.js'></script>
  </body>
</html>
