<p>Compute the minimum distance between all the nodes in a graph.</p>

<%= code(post, 'src.cpp') %>

<p>Quickly determine if node $i$ can reach node $j$ directly or by using some intermediate nodes, the answer is in $R[i][j]$.</p>

<%= code(post, 'reach.cpp') %>

<p>Algorithm complexity: $O(n^3)$</p>.
