<% @title = 'DynamoDB: deleting tables' %>
<p>I found myself deleting tables manually from the DynamoDB UI and it started to get tedious, here a small working program to delete tables in Java:</p>

<%= code(post, 'TableReaper.java') %>

<p>I hope it helps!</p>
