<p>
Oh boy! It is so easy to implement an algorithm once you know exactly how it works :).
</p>
<p>
I’ve been trying to implement the <a href="http://en.wikipedia.org/wiki/A*_search_algorithm" target="_blank">A*</a> algorithm and solve at least one problem with it, however, almost all sources of information are abstract and give only high level details, but I got it!
</p>
<p>
I don’t have much time so I’m just going to leave a problem and my solution using the A* algorithm. For the theory you can count on <a href="http://en.wikipedia.org/wiki/A*_search_algorithm" target="_blank">Wikipedia</a>.
</p>
<h2 id="problem">Problem</h2>
<p><a href="http://lightoj.com/volume_showproblem.php?problem=1139" target="_blank">1139 - 8 Puzzle</a></p>
<h2 id="solution">Solution</h2>
<p>Embed: <code>sol.cpp</code></p>
<h2 id="references">References</h2>
<ul>
<li><a href="https://www.coursera.org/course/algs4partI">Algorithms, Part I</a></li>
<li><a href="https://courses.edx.org/courses/BerkeleyX/CS188.1x/2013_Spring/info">CS188.1x Artificial Intelligence</a></li>
</ul>

