body {
  background-color: #5e5e5e;
}

#wrapper {
  margin-left: 25px;
}

.equation {
  text-align: center;
  margin: 15px 0 15px 0;
}

.box {
  border: solid 1px black;
  padding: 10px;
}

figure {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.code-snippet {
  p {
    text-align: center;
  }
}

#navigation-bar {
  border-radius: 0;
}

#main-content {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding-right: 0;
  padding-left: 0;
}
