body {
    max-width: 1000px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #323f51;
    padding-inline-start: 0;
    border-radius: 5px 5px 0 0;
}

.navbar-item {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

.navbar li {
    list-style: none;
}

.content {
    margin: 0 10px;
    padding-bottom: 10px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metadata {
    border: solid grey 1px;
    border-radius: 5px;
    padding: 5px;
}

.tags {
    margin-left: 20px;
}
