<% @title = 'Eulerian tour' %>
<p>I'm taking <a href="https://classroom.udacity.com/courses/cs215" target="_blank">Intro to Algorithms</a>, which focuses mostly on graphs, and one of the first topics is about Eulerian paths and tours, you can easily find the theory of these topics in the course or on Wikipedia, let's write some code.</p>

This is my brute force solution to the challenge in problem set 1: Find Eulerian tour:

<%= code(post, 'find_eulerian_tour.py') %>
