<h1 id="advent-of-code-2015---part-1">Advent of code 2015 - part 1</h1>

I recently found out about &lt;%= link_to(‘http://adventofcode.com/’, ‘Advent of Code’, target: :blank) %&gt;, and as part of my preparation for this year’s event I’m solving the puzzles of the previous event (&lt;%= link_to(‘http://adventofcode.com/2015’, ‘adventofcode.com/2015’, target: :blank) %&gt;), in this short series I’ll publish my solutions with a brief explanation.
</p>
<p>
A brief explanation about how Advent of Code works, there’s one puzzle every day from December 1st to the 25th, each puzzle has two versions so you can earn upto two stars for every puzzle.
</p>
<h2 id="day-1-not-quite-lisp">— Day 1: Not Quite Lisp —</h2>
<p>
Problem description at &lt;%= link_to(‘http://adventofcode.com/2015/day/1’, ‘day/1’, target: :blank) %&gt;.
</p>
<h3 id="solution">Solution</h3>
<p>
For v1: Just use a variable for the current floor, increase by one when we find a <code>(</code>, descrease by 1 when we find a <code>)</code>.
</p>
<p>Embed: <code>day1_v1.rb</code></p>
<p>
For v2: Similar to v1, we just need to keep track of the positions.
</p>
<p>Embed: <code>day1_v2.rb</code></p>
<h2 id="day-2-i-was-told-there-would-be-no-math">— Day 2: I Was Told There Would Be No Math —</h2>
<p>
Problem description at &lt;%= link_to(‘http://adventofcode.com/2015/day/2’, ‘day/2’, target: :blank) %&gt;.
</p>
<h3 id="solution-1">Solution</h3>
<p>
For v1: Read all lines, parse the three integers and just apply the fomula from the problem description.
</p>
<p>Embed: <code>day2_v1.rb</code></p>
<p>
For v2: Take the lowest 2 values (out of 3) and compute the perimeter, plus the product of all of them.
</p>
<p>Embed: <code>day2_v2.rb</code></p>
<h2 id="day-3-perfectly-spherical-houses-in-a-vacuum">— Day 3: Perfectly Spherical Houses in a Vacuum —</h2>
<p>
Problem description at &lt;%= link_to(‘http://adventofcode.com/2015/day/3’, ‘day/3’, target: :blank) %&gt;.
</p>
<h3 id="solution-2">Solution</h3>
<p>
For v1: A simulation problem, update your position in a 2-dimensional grid with every command, use a table to keep track of the unique positions you’ve been in.
</p>
<p>Embed: <code>day3_v1.rb</code></p>
<p>
<p>For v2: Likewise, except that you have to alternate commands with Robo-Santa, the first command is for Santa, the second one isfor Robo-Santa, etc.</p>
<p>Embed: <code>day3_v2.rb</code></p>
<h2 id="day-4-the-ideal-stocking-stuffer">— Day 4: The Ideal Stocking Stuffer —</h2>
<p>
Problem description at &lt;%= link_to(‘http://adventofcode.com/2015/day/4’, ‘day/4’, target: :blank) %&gt;.
</p>
<h3 id="solution-3">Solution</h3>
<p>
<p>For v1: Well, I just brute-forced this one, used Ruby’s <code>Digest::MD5</code> to compute the checksum.</p>
<p>Embed: <code>day4_v1.rb</code></p>
<p>
<p>For v2: The same as v1, just add one more zero.</p>
<p>Embed: <code>day4_v2.rb</code></p>
<h2 id="day-5-doesnt-he-have-intern-elves-for-this">— Day 5: Doesn’t He Have Intern-Elves For This? —</h2>
<p>
Problem description at &lt;%= link_to(‘http://adventofcode.com/2015/day/5’, ‘day/5’, target: :blank) %&gt;.
</p>
<h3 id="solution-4">Solution</h3>
<p>
<p>For v1: Just follow the instructions <strong>carefully</strong> and you should be able to solve this problem.</p>
<p>Embed: <code>day5_v1.rb</code></p>
<p>
<p>For v2: Just follow the instructions <strong>even more carefully</strong>, I was trapped by a moment by a pesky bug in this version.</p>
<p>Embed: <code>day5_v2.rb</code></p>

