<p>
<a href="http://en.wikipedia.org/wiki/Breadth-first_search">Breadth-First Search</a> is another fundamental algorithm in <a href="http://en.wikipedia.org/wiki/Graph_theory" target="_blank">graph theory</a>, it’s a must to know!.
</p>
<figure>
<img src="/recipe-003-bfs/graph.svg" alt="A graph" />
<figcaption aria-hidden="true">A graph</figcaption>
</figure>
<p>
For this algorithm we need a <a href="http://en.wikipedia.org/wiki/Queue_%28abstract_data_type%29" target="_blank">queue</a>.
</p>
<p>Embed: <code>src.cpp</code></p>
<p>
Example input(figure &lt;%= ref(‘graph’) %&gt;):
</p>
<p>Embed: <code>input.txt</code></p>
<p>
Example output:
</p>
<p>Embed: <code>output.txt</code></p>
<p>
And that’s it. Remember, Breadth-First Search must be part of your toolbox!
</p>

