<h1 id="articulation-points">Articulation points</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#algorithms</code> <code>#data-structures</code> <code>#post</code></span>
</p>

<h2 id="welcome">Welcome</h2>
<p>Hey guys! Currently I am training for a programming contest and I have no time to publish. I am learning many interesting topics about algorithms and programming and I want to share that with you. However, to write an article consumes much of my time and I’m devising a format that is both brief and useful: Algorithm or Data structure, brief info, sample problem, solution and references.</p>
<h2 id="articulation-points-1">Articulation points</h2>
<p>Today’s topic is about <a href="http://en.wikipedia.org/wiki/Graph_theory">graph theory</a>, articulation points. Here a <a href="http://www.cs.umd.edu/~samir/451/bc.ps">brief info from Dave Mount</a>:</p>
<div class="box">
<p><strong>Articulation Points and Biconnected Graphs:</strong> Today we discuss another application of DFS, this time to a problem on undirected graphs. Let <em>G = (V, E)</em> be a ** connected** undirected graph. Consider de following definitions.</p>
<p><strong>Articulation Point( or Cut Vertex):</strong> Is any vertex whose removal(together with the removal of any incident edges) results in a disconnected graph.</p>
</div>
<figure>
<img src="/articulation-points/artpoints.svg" alt="Articulation points example" />
<figcaption aria-hidden="true">Articulation points example</figcaption>
</figure>
<h2 id="sample-problem">Sample problem</h2>
<p>A problem where you can put in practice this topic is <a href="http://lightoj.com/volume_showproblem.php?problem=1063">1063 Ant Hills</a> from <a href="http://lightoj.com">lightoj.com</a>.</p>
<h2 id="solution-to-sample-problem">Solution to sample problem</h2>
<p>Embed: <code>sol.cpp</code></p>
<h2 id="references">References</h2>
<table border="0">
<tr>
<td>
1
</td>
<td>
<a href="http://www.cs.umd.edu/~samir/451/bc.ps">Articulation Points and Biconnected Components</a>
</td>
</tr>
<tr>
<td>
2
</td>
<td>
<a href="http://www.ibluemojo.com/school/articul_algorithm.html">Articulation Points Detection Algorithm</a>
</td>
</tr>
<tr>
<td>
3
</td>
<td>
<a href="http://en.wikipedia.org/wiki/Biconnected_component">Biconnected component</a>
</td>
</tr>
</table>

