<!-- vim: set spelllang=es_mx: -->
<h1 id="gimp-scripting">Gimp scripting</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#tools</code> <code>#image-processing</code> <code>#post</code></span>
</p>

<h2 id="problema">Problema</h2>
<p>En estos días he estado trabajando en un proyecto web junto con algunos compañeros de clase y estoy contento porque he aprendido muchas cosas interesantes, hoy les voy a hablar de una de ellas.</p>
<p>Estamos desarrollando un sitio web para un centro comercial y empleamos muchas imágenes para los distintos productos que se ofertan. Cada uno de los integrantes se encargo de recolectar información de los productos de las distintas secciones, y el problema empezó cuando cada quien recolecto fotos de distintos tamaños y fue necesario redimensionar y decorar cada una de las imágenes a un tamaño adecuado(150x150). Tiempo atrás ya había oído hablar que se podían emplear scripts con gimp para automatizar la edición de imágenes, así que me puse a investigar.</p>
<p>Gimp soporta scripts en <a href="http://www.gimp.org/docs/python/index.html">python</a> y en <a href="http://www.gimp.org/tutorials/Basic_Scheme/">scheme</a>, de los cuales he optado por python. A continuación el código que emplee para resolver mi problema.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode py"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> os, re</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="im">from</span> gimpfu <span class="im">import</span> <span class="op">*</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a><span class="cf">for</span> <span class="bu">file</span> <span class="kw">in</span> os.listdir(os.getcwd()):</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> <span class="kw">not</span> re.search(<span class="st">&#39;jpeg&#39;</span>, <span class="bu">file</span>):</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>        <span class="cf">continue</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a>    image <span class="op">=</span> pdb.gimp_file_load(<span class="bu">file</span>, <span class="st">&#39;1&#39;</span>) <span class="co"># Open file</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a>    pdb.gimp_image_scale(image, <span class="dv">150</span>, <span class="dv">150</span>) <span class="co"># and scale</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a>    <span class="co"># Apply round corners filter</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>    drawable <span class="op">=</span> pdb.gimp_image_active_drawable(image)</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a>    pdb.script_fu_round_corners(image, drawable, <span class="dv">9</span>, <span class="dv">1</span>, <span class="dv">8</span>, <span class="dv">8</span>, <span class="dv">9</span>, <span class="dv">0</span>, <span class="dv">0</span>)</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a>    image.merge_visible_layers(<span class="dv">0</span>)</span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true" tabindex="-1"></a>    drawable <span class="op">=</span> pdb.gimp_image_active_drawable(image)</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true" tabindex="-1"></a>    <span class="co"># Save file with PNG format</span></span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true" tabindex="-1"></a>    temp <span class="op">=</span> <span class="bu">file</span>.split(<span class="st">&#39;.&#39;</span>)</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true" tabindex="-1"></a>    temp.pop()</span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true" tabindex="-1"></a>    output_file <span class="op">=</span> temp.pop() <span class="op">+</span> <span class="st">&quot;.png&quot;</span></span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true" tabindex="-1"></a>    pdb.gimp_file_save(image, drawable, output_file, <span class="st">&#39;Saved file&#39;</span>)</span></code></pre></div>
<p>En este ejemplo mis imágenes están en formato JPEG pero ustedes pueden modificarlo para adaptarlo a sus necesidades. En la línea 2 importamos todo el contenido del modulo <code>gimpfu</code> el cual contiene todo lo necesario para trabajar con gimp, <code>os</code> y <code>re</code> son de utilería.</p>
<p>
Desde una consola nos trasladamos al directorio donde están las imágenes y ejecutamos gimp. Vamos a Filters <code>-&amp;gt;</code>Python-Fu<code>-&amp;gt;</code>Console</code>, tenemos dos opciones, teclear el código ahí directamente o lo guardamos en un archivo y lo ejecutamos en el interprete con la función <code>execfile('script.py')</code>.
</p>
<p>La documentación de las funciones que empleo en el script y muchas más la proporciona el mismo gimp y podemos acceder a ella con el botón <code>Browse...</code>. Hasta aquí con este post, espero que esta información les sea tan útil como a mi o más.</p>
<figure>
<img src="/gimp-scripting/gimp-documentation.png" alt="Documentación de GIMP" />
<figcaption aria-hidden="true">Documentación de GIMP</figcaption>
</figure>
<h2 id="referencias">Referencias</h2>
<ul>
<li>[1] <a href="http://www.gimp.org/docs/python/index.html">GIMP Python Documentation</a><br/></li>
<li>[2] <a href="http://www.gimp.org/tutorials/Basic_Scheme/" target="_blank">Basic Scheme&lt;/a</a>&gt;</li>
</ul>

