<!-- vim: set spelllang=es_mx: -->
<h1 id="pix">Pix</h1>
<p>En el semestre que curso actualmente llevo la asignatura de
graficación, para la cual hace unos días elabore un programa, proyecto
de la primera unidad. Este programa consiste básicamente en mostrar como
se representan los gráficos en un monitor, es decir, a nivel de píxeles.
Ya que los píxeles son unidades físicas muy pequeñas se nos ha
encomendado programar un simulador que escenifique este mismo proceso a
una mayor escala.</p>
<p>El lenguaje de programación que utilizamos en clase es Java, sin
embargo, en mi afán de aprender a crear interfaces gráficas en C++ con
Qt he realizado el mismo programa tanto en Java como en C++.</p>
<h2 id="capturas-de-pantalla">Capturas de pantalla</h2>
<figure>
<img src="/pix/pix-1.png" alt="Pix 1" />
<figcaption aria-hidden="true">Pix 1</figcaption>
</figure>
<figure>
<img src="/pix/pix-2.png" alt="Pix 2" />
<figcaption aria-hidden="true">Pix 2</figcaption>
</figure>
<figure>
<img src="/pix/pix-3.png" alt="Pix 3" />
<figcaption aria-hidden="true">Pix 3</figcaption>
</figure>
<h2 id="codigo-fuente">Codigo fuente</h2>
<ul>
<li><a href="https://github.com/rendon/pix-qt">Pix Qt</a></li>
<li><a href="https://github.com/rendon/pix-java">Pix Java</a></li>
</ul>
