<h1 id="recipe-001-floyd-warshall">Recipe 001: Floyd-Warshall</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#algorithms</code> <code>#data-structures</code> <code>#post</code></span>
</p>

<p>
Compute the minimum distance between all the nodes in a graph.
</p>
<p>Embed: <code>src.cpp</code></p>
<p>
Quickly determine if node <span class="math inline"><em>i</em></span> can reach node <span class="math inline"><em>j</em></span> directly or by using some intermediate nodes, the answer is in <span class="math inline"><em>R</em>[<em>i</em>][<em>j</em>]</span>.
</p>
<p>Embed: <code>reach.cpp</code></p>
<p>
Algorithm complexity: <span class="math inline"><em>O</em>(<em>n</em><sup>3</sup>)</span>
</p>
<p>.</p>

