<h1 id="bridge-edges">Bridge edges</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>Let’s</em></span>
	
    <span class='tags'><span class="fa-solid fa-tag"></span></span>
</p>

<figure>
<img src="bridge_edge.svg" alt="Graph with a bridge edge" />
<figcaption aria-hidden="true">Graph with a bridge edge</figcaption>
</figure>
<h2 id="problem">Problem</h2>
<p>The problem is <a href="http://lightoj.com/volume_showproblem.php?problem=1026">1026 - Critical Links</a>, it’s literally finding bridge edges, it’s a good problem to test your implementation before solving problems where this algorithm is just a part of the solution.</p>
<h2 id="solution">Solution</h2>
<p>Next is my implementation in C++:</p>
<p>Embed: <code>sol.cpp</code></p>
<p>I hope it helps, in the references you can find more detailed explanations of the algorithm.</p>
<h2 id="references">References</h2>
<ul>
<li><a href="http://www.geeksforgeeks.org/bridge-in-a-graph/">Bridges in a graph</a></li>
<li><a href="https://en.wikipedia.org/wiki/Bridge_(graph_theory)">Bridge (graph theory)</a></li>
</ul>

