<!-- vim: set spelllang=es_mx: -->
<h1 id="reporte-v-android-web-service">Reporte V: Android web service</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-23</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-06</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#dev</code> <code>#school</code> <code>#post</code></span>
</p>

<p>Este reporte corresponde al proyecto número 5 de la asignatura Desarrollo de Aplicaciones para Tecnologías Móviles.</p>
<h2 id="definición-del-problema">Definición del problema</h2>
<blockquote>
Desarrollar un Web service (en el lenguaje que más les agrade) capaz de manipular una base de datos a petición del cliente, en este caso, el cliente será una aplicación móvil para la plataforma Android.
</blockquote>
<h2 id="definiciones">Definiciones</h2>
<p>Como este reporte forma parte de una serie de reportes, vamos a omitir la teoría sobre Web services puesto que ya se abordo en el reporte número <a href="/?p=865">II</a>.</p>
<h2 id="propuesta-de-solución">Propuesta de solución</h2>
<p>Nuevamente, el problema nos da la flexibilidad de elegir que problema modelar, la propuesta es la siguiente:</p>
<blockquote>
Desarrollar una aplicación móvil para el control requisiciones, similar a los dispositivos que utilizan los agentes de venta cuando salen a levantar pedidos.
</blockquote>
<h3 id="el-cliente">El cliente</h3>
<p>La aplicación móvil deberá cumplir con los siguientes requisitos:</p>
<ul>
<li>
La aplicación permitirá consultar la lista de clientes.
</li>
<li>
La aplicación permitirá consultar la lista de productos.
</li>
<li>
La aplicación permitirá registrar pedidos.
</li>
<li>
La aplicación permitirá consultar la lista de pedidos.
</li>
<li>
La aplicación deberá tener la capacidad de trabajar tanto <em>online</em> como <em>offline</em>.
</li>
<li>
La aplicación permitirá subir los registros al servidor.
</li>
<li>
La aplicación permitirá contactar al servidor para actualizar catálogos.
</li>
</ul>
<h3 id="el-servidor">El servidor</h3>
<p>Un Web service desarrollado en PHP que manipula una base de datos MySQL. A continuación la lista de servicios que vamos desarrollar:</p>
<ul>
<li>
<strong>PutRegisters(requests[], details[])</strong> Recibe los datos de la aplicación móvil y los agrega a la base de datos, en caso de que aun no existan.
</li>
<li>
<strong>GetAllClients()</strong> Retorna al cliente la lista de clientes. Este servicio forma parte de la actualización de catálogos.
</li>
<li>
<strong>GetAllProducts()</strong> Retorna al cliente la lista de productos. Este servicio forma parte de la actualización de catálogos.
</li>
</ul>
<h3 id="requisitos">Requisitos</h3>
<p>Para poder realizar esta práctica se necesita lo siguiente:</p>
<ul>
<li>
Debian GNU/Linux Wheezy
</li>
<li>
Un servidor LAMP (Linux + Apache + MySQL + PHP). Véase el reporte <a href="/?p=865">II</a>.
</li>
<li>
El SDK de Android instalado y configurado. Véase el reporte <a href="/?p=833">I</a>.
</li>
<li>
Un dispositivo móvil con Android 2.3 o el emulador de Android.
</li>
<li>
IntelliJ IDEA 12.
</li>
</ul>
<h2 id="desarrollo-del-servidor">Desarrollo del Servidor</h2>
<p>El Web service para esta aplicación es exactamente el mismo que se empleamos en el proyecto anterior (cliente Blackberry). A continuación se muestra el modelo de la base de datos para refrescar la memoria.</p>
<figure>
<img src="/report-v-android-web-service/bbws_data_model.png" alt="Modelo de datos" />
<figcaption aria-hidden="true">Modelo de datos</figcaption>
</figure>
<p>Lo relevante de la implementación del Web service lo pueden encontrar en los reportes <a href="/report-iii-wp8-web-services/">III</a> y <a href="/report-iv-bb10-web-service/">IV</a>, colocar nuevamente el código aquí sería redundante y ocuparía mucho espacio.</p>
<h2 id="la-base-de-datos-local">La base de datos local</h2>
<p>Uno de los requisitos de nuestra aplicación es que debe de funcionar de forma desconectada, por ende, es necesario crear una replica del modelo de datos en nuestra aplicación móvil. A continuación se muestra como se manipulan los datos en de formal local, el SGBD es SQLite.</p>
<p>Lo primero es crear las clases necesarias que representaran a nuestras tablas.</p>
<pre><code>package com.inforscience.requisition.model;

public class Client {
    private int idClient;
    private String name;
    private String middleName;
    private String lastName;
    private String address;

    public Client() { };

    public Client(int idClient, String name, String middleName,
                  String lastName, String address)
    {
        this.idClient = idClient;
        this.name = name;
        this.middleName = middleName;
        this.lastName = lastName;
        this.address = address;
    }

    public int getIdClient()
    {
        return idClient;
    }

    public void setIdClient(int idClient)
    {
        this.idClient = idClient;
    }

    public String getName()
    {
        return name;
    }

    public void setName(String name)
    {
        this.name = name;
    }

    public String getMiddleName()
    {
        return middleName;
    }

    public void setMiddleName(String middleName)
    {
        this.middleName = middleName;
    }

    public String getLastName()
    {
        return lastName;
    }

    public void setLastName(String lastName)
    {
        this.lastName = lastName;
    }

    public String getAddress()
    {
        return address;
    }

    public void setAddress(String address)
    {
        this.address = address;
    }

    @Override
    public String toString()
    {
        return getName() + &quot; &quot; + getMiddleName() + &quot; &quot; + getLastName();
    }
}</code></pre>
<pre><code>package com.inforscience.requisition.model;

public class Product {
    private int idProduct;
    private String description;

    public Product() { }

    public Product(int idProduct, String description)
    {
        this.idProduct = idProduct;
        this.description = description;
    }

    public int getIdProduct()
    {
        return idProduct;
    }

    public void setIdProduct(int idProduct)
    {
        this.idProduct = idProduct;
    }

    public String getDescription()
    {
        return description;
    }

    public void setDescription(String description)
    {
        this.description = description;
    }

    @Override
    public String toString()
    {
        return getDescription();
    }
}</code></pre>
<pre><code>package com.inforscience.requisition.model;

public class Request {
    private int idRequest;
    private int idClient;
    private String requestDate;

    public Request() { }

    public Request(int idRequest, int idClient, String requestDate)
    {
        this.idRequest = idRequest;
        this.idClient = idClient;
        this.requestDate = requestDate;
    }

    public int getIdRequest()
    {
        return idRequest;
    }

    public void setIdRequest(int idRequest)
    {
        this.idRequest = idRequest;
    }

    public int getIdClient()
    {
        return idClient;
    }

    public void setIdClient(int idClient)
    {
        this.idClient = idClient;
    }

    public String getRequestDate()
    {
        return requestDate;
    }

    public void setRequestDate(String requestDate)
    {
        this.requestDate = requestDate;
    }
}</code></pre>
<pre><code>package com.inforscience.requisition.model;

public class Detail {
    private int idDetail;
    private int idRequest;
    private int idProduct;
    private int amount;
    private String description; // An ugly work around

    public Detail()
    {
        setIdDetail(0);
        setIdRequest(0);
        setIdProduct(0);
        setAmount(0);
        setDescription(&quot;&quot;);
    }

    public Detail(int idDetail, int idRequest, int idProduct, int amount)
    {
        this.idDetail = idDetail;
        this.idRequest = idRequest;
        this.idProduct = idProduct;
        this.amount = amount;
    }

    public int getIdDetail()
    {
        return idDetail;
    }

    public void setIdDetail(int idDetail)
    {
        this.idDetail = idDetail;
    }

    public int getIdRequest()
    {
        return idRequest;
    }

    public void setIdRequest(int idRequest)
    {
        this.idRequest = idRequest;
    }

    public int getIdProduct()
    {
        return idProduct;
    }

    public void setIdProduct(int idProduct)
    {
        this.idProduct = idProduct;
    }

    public int getAmount()
    {
        return amount;
    }

    public void setAmount(int amount)
    {
        this.amount = amount;
    }

    public String getDescription()
    {
        return description;
    }

    public void setDescription(String description)
    {
        this.description = description;
    }

    @Override
    public String toString()
    {
        return getAmount() + &quot; |  &quot; + getDescription();
    }
}</code></pre>
<p>Para simplificarnos las cosas vamos a crear un clase auxiliar (un <em>Helper</em>) para que realice todas las tareas que tienen que ver con la base de datos, como son la creación de las tablas (en caso de que no existan), inserción de registros y consulta de los mismos:</p>
<pre><code>package com.inforscience.requisition.model;

import android.content.ContentValues;
import android.database.Cursor;
import android.database.sqlite.SQLiteDatabase;
import android.util.Log;

import java.util.ArrayList;
import java.util.Map;
import java.util.TreeMap;

public class DBManager {
    public static final String DB_NAME = &quot;pedidos&quot;;

    private static final String DB_CREATE_CLIENT =
              &quot;CREATE TABLE IF NOT EXISTS Client (IdClient INTEGER PRIMARY KEY,&quot;
            + &quot;Name VARCHAR(20), MiddleName VARCHAR(20), LastName VARCHAR(20), &quot;
            + &quot;Address VARCHAR(100))&quot;;

    private static final String UNIQUE_FULL_NAME_CONSTRAINT =
              &quot;CREATE UNIQUE INDEX IF NOT EXISTS unique_fullname ON &quot;
            + &quot;Client(Name, MiddleName, LastName, Address)&quot;;

    private static final String DB_CREATE_REQUEST =
              &quot;CREATE TABLE IF NOT EXISTS Request(IdRequest INTEGER PRIMARY KEY&quot;
            + &quot; AUTOINCREMENT, IdClient INTEGER, RequestDate DATETIME, &quot;
            + &quot; FOREIGN KEY (IdClient) REFERENCES Client (IdClient))&quot;;

    private static final String UNIQUE_REQUEST_CONSTRAINT =
              &quot;CREATE UNIQUE INDEX IF NOT EXISTS unique_request &quot;
            + &quot;ON Request(IdRequest, IdClient)&quot;;

    private static final String DB_CREATE_PRODUCT =
              &quot;CREATE TABLE IF NOT EXISTS Product(IdProduct &quot;
            + &quot;INTEGER PRIMARY KEY, Description VARCHAR(100))&quot;;

    private static final String DB_CREATE_DETAIL =
             &quot;CREATE TABLE IF NOT EXISTS Detail(IdDetail INTEGER PRIMARY &quot;
            + &quot;KEY AUTOINCREMENT, IdRequest INTEGER, IdProduct INTEGER, &quot;
            + &quot;Amount INTEGER, FOREIGN KEY (IdRequest) REFERENCES Request &quot;
            + &quot;(IdRequest), FOREIGN KEY(IdProduct) &quot;
            + &quot;REFERENCES Product(IdProduct))&quot;;

    private static final String UNIQUE_DETAIL_CONSTRAINT =
              &quot;CREATE UNIQUE INDEX IF NOT EXISTS unique_detail &quot;
            + &quot;ON Detail(IdDetail, IdRequest)&quot;;

    private DBManager() { }

    public static void initialize(SQLiteDatabase db)
    {
        db.execSQL(DB_CREATE_CLIENT);
        db.execSQL(DB_CREATE_PRODUCT);
        db.execSQL(DB_CREATE_REQUEST);
        db.execSQL(DB_CREATE_DETAIL);
    }

    public static long insertClient(Client client, SQLiteDatabase db)
    {
        ContentValues values = new ContentValues();
        values.put(&quot;IdClient&quot;, client.getIdClient());
        values.put(&quot;Name&quot;, client.getName());
        values.put(&quot;MiddleName&quot;, client.getMiddleName());
        values.put(&quot;LastName&quot;, client.getLastName());
        values.put(&quot;Address&quot;, client.getAddress());

        return db.insert(&quot;Client&quot;, null, values);
    }


    public static long insertProduct(Product product, SQLiteDatabase db)
    {
        ContentValues values = new ContentValues();
        values.put(&quot;IdProduct&quot;, product.getIdProduct());
        values.put(&quot;Description&quot;, product.getDescription());

        return db.insert(&quot;Product&quot;, null, values);
    }


    public static long insertRequest(Request request, SQLiteDatabase db)
    {
        ContentValues values = new ContentValues();
        values.put(&quot;IdClient&quot;, request.getIdClient());
        values.put(&quot;RequestDate&quot;, request.getRequestDate());

        return db.insert(&quot;Request&quot;, null, values);
    }

    public static long insertDetail(Detail detail, SQLiteDatabase db)
    {
        ContentValues values = new ContentValues();
        values.put(&quot;IdRequest&quot;, detail.getIdRequest());
        values.put(&quot;IdProduct&quot;, detail.getIdProduct());
        values.put(&quot;Amount&quot;, detail.getAmount());

        return db.insert(&quot;Detail&quot;, null, values);
    }

    public static ArrayList&lt;Client&gt; selectClients(SQLiteDatabase db)
    {
        String[] fields = new String[] {&quot;IdClient&quot;, &quot;Name&quot;, &quot;MiddleName&quot;,
                &quot;LastName&quot;, &quot;Address&quot;};

        Cursor r = db.query(&quot;Client&quot;, fields, null, null, null, null, null);

        ArrayList&lt;Client&gt; clients = new ArrayList&lt;Client&gt;();
        if (r.moveToFirst()) {
            do {
                Client c = new Client();
                c.setIdClient(Integer.parseInt(r.getString(0)));
                c.setName(r.getString(1));
                c.setMiddleName(r.getString(2));
                c.setLastName(r.getString(3));
                c.setAddress(r.getString(4));
                clients.add(c);
            } while (r.moveToNext());
        }

        return clients;
    }

    public static ArrayList&lt;Request&gt; selectRequests(SQLiteDatabase db)
    {
        String[] fields = new String[] {&quot;IdRequest&quot;, &quot;IdClient&quot;, &quot;RequestDate&quot;};
        Cursor r = db.query(&quot;Request&quot;, fields, null, null, null, null, null);

        ArrayList&lt;Request&gt; requests = new ArrayList&lt;Request&gt;();
        if (r.moveToFirst()) {
            do {
                Request request = new Request();
                request.setIdRequest(Integer.parseInt(r.getString(0)));
                request.setIdClient(Integer.parseInt(r.getString(1)));
                request.setRequestDate(r.getString(2));
                requests.add(request);
            } while (r.moveToNext());
        }

        return requests;
    }

    public static ArrayList&lt;Product&gt; selectProducts(SQLiteDatabase db)
    {
        String[] fields = new String[] {&quot;IdProduct&quot;, &quot;Description&quot;};
        Cursor r = db.query(&quot;Product&quot;, fields, null, null, null, null, null);

        ArrayList&lt;Product&gt; products = new ArrayList&lt;Product&gt;();
        if (r.moveToFirst()) {
            do {
                Product p = new Product();
                p.setIdProduct(Integer.parseInt(r.getString(0)));
                p.setDescription(r.getString(1));
                products.add(p);
            } while (r.moveToNext());
        }

        return products;
    }

    public static ArrayList&lt;Detail&gt; selectDetails(SQLiteDatabase db)
    {
        String[] fields = new String[] {&quot;IdDetail&quot;, &quot;IdRequest&quot;,
                &quot;IdProduct&quot;, &quot;Amount&quot;};
        Cursor r = db.query(&quot;Detail&quot;, fields, null, null, null, null, null);

        ArrayList&lt;Detail&gt; details = new ArrayList&lt;Detail&gt;();
        if (r.moveToFirst()) {
            do {
                Detail d = new Detail();
                d.setIdDetail(Integer.parseInt(r.getString(0)));
                d.setIdRequest(Integer.parseInt(r.getString(1)));
                d.setIdProduct(Integer.parseInt(r.getString(2)));
                d.setAmount(Integer.parseInt(r.getString(3)));
                details.add(d);
            } while (r.moveToNext());
        }

        return details;
    }

    public static void clean(SQLiteDatabase db)
    {
        db.delete(&quot;Detail&quot;, null, null);
        db.delete(&quot;Request&quot;, null, null);
        db.delete(&quot;Product&quot;, null, null);
        db.delete(&quot;Client&quot;, null, null);
    }


    public static ArrayList&lt;String&gt; queryRequests(SQLiteDatabase db)
    {
        Cursor r = db.rawQuery(
                  &quot;SELECT Request.IdRequest, Client.Name, Client.MiddleName, &quot;
                + &quot;Client.LastName, Request.RequestDate, Detail.Amount, &quot;
                + &quot;Product.Description FROM Request, Client, Detail, Product &quot;
                + &quot;WHERE Detail.IdRequest = Request.IdRequest AND &quot;
                + &quot;Request.IdClient = Client.IdClient AND &quot;
                + &quot;Detail.IdProduct = Product.IdProduct&quot;, null);

        TreeMap&lt;String, ArrayList&lt;String&gt;&gt; map =
                new TreeMap&lt;String, ArrayList&lt;String&gt;&gt;();
        ArrayList&lt;String&gt; requests = new ArrayList&lt;String&gt;();

        if (r.moveToFirst()) {
            do {
                String key  = r.getString(0) + &quot;: &quot;
                            + r.getString(1) + &quot; &quot;
                            + r.getString(2) + &quot; &quot;
                            + r.getString(3) + &quot;\n&quot;;
                String date = r.getString(4).toString();

                for (int i = 0; i &lt; key.length(); i++) {
                    if (Character.isLetter(key.charAt(i)))
                        break;
                    date = &quot; &quot; + date;
                }

                key += date;

                String amount = r.getString(5);
                while (amount.length() &lt; 4)
                    amount = &quot; &quot; + amount;

                String value = amount + &quot; | &quot; + r.getString(6);

                if (map.containsKey(key)) {
                    ArrayList&lt;String&gt; a = map.get(key);
                    a.add(value);
                } else {
                    ArrayList&lt;String&gt; a = new ArrayList&lt;String&gt;();
                    a.add(value);
                    map.put(key, a);
                }
            } while (r.moveToNext());
        }

        for (Map.Entry&lt;String, ArrayList&lt;String&gt;&gt; entry : map.entrySet()) {
            requests.add(entry.getKey());
            for (int i = 0; i &lt; entry.getValue().size(); i++) {
                requests.add(entry.getValue().get(i));
            }
        }

        return requests;
    }
}</code></pre>
<p>Podrán observar que cada uno de los métodos recibe un objecto de tipo <em>SQLiteDatabase</em>, este objecto lo creamos en la actividad principal (<em>MainActivity.java</em>) de nuestra aplicación y se proporciona al a las actividades restantes. He aquí la parte relevante:</p>
<pre><code>/* Método onCreate() */

database = openOrCreateDatabase(DBManager.DB_NAME,
            Context.MODE_PRIVATE, null);
DBManager.initialize(database);

tabHost.setCurrentTab(2);
SearchActivity searchActivity = (SearchActivity)getLocalActivityManager()
        .getCurrentActivity();
searchActivity.setDatabase(database);

tabHost.setCurrentTab(1);
ShopActivity shopActivity = (ShopActivity)getLocalActivityManager()
                                .getCurrentActivity();
shopActivity.setDatabase(database);
shopActivity.populateCatalogs();


tabHost.setCurrentTab(0);
HomeActivity homeActivity = (HomeActivity)getLocalActivityManager()
                                .getCurrentActivity();
homeActivity.setDatabase(database);
homeActivity.setShopActivity(shopActivity);</code></pre>
<p>Como su nombre lo indica, el método <em>openOrCreateDatabase()</em> abre nuestra base de datos o la crea en caso de que aun no exista.</p>
<h2 id="comunicación-con-el-web-service">Comunicación con el Web service</h2>
<p>Al igual que con Qt, trabajar con Web services en Java es un poco tedioso ya que no hay soporte nativo (¿Lo hay?) para trabajar con ellos. Existen algunas bibliotecas para trabajar con Web services pero son demasiado complejas y lo que necesitamos para esta aplicación es algo sencillo, por ello vamos a crear nuestro propio proxy.</p>
<pre><code>package com.inforscience.requisition.net;

import java.io.*;
import java.net.HttpURLConnection;
import java.net.URL;
import java.util.ArrayList;

import android.util.Log;

import com.inforscience.requisition.model.Client;
import com.inforscience.requisition.model.Detail;
import com.inforscience.requisition.model.Product;
import com.inforscience.requisition.model.Request;

public class WebService {
    public static final String WS_URL =
        &quot;http://192.168.1.200/request_ws/index.php&quot;;
    public static final String MSG_GET_ALL_CLIENTS =
          &quot;&lt;?xml version=&#39;1.0&#39;?&gt; &lt;soapenv:Envelope xmlns:soapenv=&quot;
        + &quot;&#39;http://schemas.xmlsoap.org/soap/envelope/&#39; xmlns:req=&#39;Request&#39;&gt; &quot;
        + &quot;&lt;soapenv:Header/&gt; &lt;soapenv:Body&gt; &lt;req:GetAllClients/&gt; &quot;
        + &quot;&lt;/soapenv:Body&gt; &lt;/soapenv:Envelope&gt;&quot;;

    public static final String MSG_GET_ALL_PRODUCTS =
          &quot;&lt;soapenv:Envelope xmlns:soapenv=&#39;http://schemas.xmlsoap.org/soap/&quot;
        + &quot;envelope/&#39; xmlns:req=&#39;Request&#39;&gt; &lt;soapenv:Header/&gt; &lt;soapenv:Body&gt; &quot;
        + &quot;&lt;req:GetAllProducts/&gt; &lt;/soapenv:Body&gt; &lt;/soapenv:Envelope&gt;&quot;;


    private WebService() { }

    public static ArrayList&lt;Client&gt; queryClients() throws Exception
    {
        URL url = new URL(WS_URL);
        HttpURLConnection conn = (HttpURLConnection) url.openConnection();

        conn.setRequestMethod(&quot;POST&quot;);
        conn.setRequestProperty(&quot;Content-Type:&quot;, &quot;text/xml&quot;);

        conn.setDoOutput(true);
        DataOutputStream out = new DataOutputStream(conn.getOutputStream());
        out.writeBytes(MSG_GET_ALL_CLIENTS);
        out.flush();
        out.close();

        return XMLParser.parseClients(conn.getInputStream());
    }

    public static ArrayList&lt;Product&gt; queryProducts() throws Exception
    {
        URL url = new URL(WS_URL);
        HttpURLConnection conn = (HttpURLConnection) url.openConnection();
        conn.setRequestMethod(&quot;POST&quot;);
        conn.setRequestProperty(&quot;Content-Type:&quot;, &quot;text/xml&quot;);
        conn.setDoOutput(true);
        DataOutputStream out = new DataOutputStream(conn.getOutputStream());
        out.writeBytes(MSG_GET_ALL_PRODUCTS);
        out.flush();
        out.close();

        return XMLParser.parseProducts(conn.getInputStream());
    }

    public static void putRegisters(ArrayList&lt;Request&gt; R,
                             ArrayList&lt;Detail&gt; D) throws Exception
    {
        String header =
                  &quot;&lt;soapenv:Envelope &quot;
                + &quot;xmlns:soapenv=&#39;http://schemas.xmlsoap.org/soap/envelope/&#39;&quot;
                + &quot; xmlns:req=&#39;Request&#39;&gt; &lt;soapenv:Header/&gt; &lt;soapenv:Body&gt; &quot;
                + &quot; &lt;req:PutRegisters&gt;&quot;;

        String footer   = &quot;&lt;/req:PutRegisters&gt; &quot;
                        + &quot;&lt;/soapenv:Body&gt; &quot;
                        + &quot;&lt;/soapenv:Envelope&gt;&quot;;

        String requests = &quot;\n&lt;RequestItems&gt;\n&quot;;

        int n = R.size();
        for (int i = 0; i &lt; n; i++) {
            Request r = R.get(i);
            requests += &quot;&lt;item&gt;&quot;;
            requests += &quot;&lt;IdRequest&gt;&quot; + r.getIdRequest() + &quot;&lt;/IdRequest&gt;&quot;;
            requests += &quot;&lt;IdClient&gt;&quot; + r.getIdClient()+ &quot;&lt;/IdClient&gt;&quot;;
            requests += &quot;&lt;RequestDate&gt;&quot; + r.getRequestDate() + &quot;&lt;/RequestDate&gt;&quot;;

            requests += &quot;&lt;/item&gt;&quot; + &quot;\n&quot;;
        }
        requests += &quot;&lt;/RequestItems&gt;&quot;;

        String details = &quot;&lt;DetailItems&gt;&quot; + &quot;\n&quot;;
        n = D.size();
        for (int i = 0; i &lt; n; i++) {
            Detail d = D.get(i);
            details += &quot;&lt;item&gt;&quot;;
            details += &quot;&lt;IdDetail&gt;&quot; + d.getIdDetail() + &quot;&lt;/IdDetail&gt;&quot;;
            details += &quot;&lt;IdRequest&gt;&quot; + d.getIdRequest() + &quot;&lt;/IdRequest&gt;&quot;;
            details += &quot;&lt;IdProduct&gt;&quot; + d.getIdProduct() + &quot;&lt;/IdProduct&gt;&quot;;
            details += &quot;&lt;Amount&gt;&quot; + d.getAmount() + &quot;&lt;/Amount&gt;&quot;;
            details += &quot;&lt;/item&gt;\n&quot;;
        }

        details += &quot;&lt;/DetailItems&gt;&quot;;

        String message = header + requests + &quot;\n&quot; + details + &quot;\n&quot; + footer;
        URL url = new URL(WS_URL);
        HttpURLConnection conn = (HttpURLConnection) url.openConnection();
        conn.setRequestMethod(&quot;POST&quot;);
        conn.setRequestProperty(&quot;Content-Type:&quot;, &quot;text/xml&quot;);

        conn.setDoOutput(true);
        DataOutputStream out = new DataOutputStream(conn.getOutputStream());
        out.writeBytes(message);
        out.flush();
        out.close();

        InputStreamReader is = new InputStreamReader(conn.getInputStream());
        BufferedReader reader = new BufferedReader(is);
        String line, response = &quot;&quot;;
        while ((line = reader.readLine()) != null)
            response += line;

        Log.w(&quot;RESPONSE&quot;, response);
    }
}</code></pre>
<p>Este código es ni más ni menos que el que ocupamos con Blackberry, pero en Java.</p>
<h2 id="el-cliente-1">El cliente</h2>
<p>En este apartado vamos a ver como construir la aplicación en Android y cómo se realizan las operaciones.</p>
<p>En Android, al igual que con otras plataformas, es posible construir la interfaz directamente desde código usando Java, sin embargo, lo recomendable es separar la interfaz de la lógica de la aplicación ya que esto nos facilitará el mantenimiento de nuestro software. Una interfaz gráfica para Android se puede describir utilizando el lenguaje XML.</p>
<p>En esta ocasión he optado por utilizar el diseñador de interfaces que viene con IntelliJ IDEA, sin embargo, al final el resultado es el mismo, código XML.</p>
<h3 id="creación-del-proyecto">Creación del proyecto</h3>
<p>Para evitar ambigüedades vamos a ilustrar paso a paso cómo crear el proyecto en IntelliJ IDEA.</p>
<p><img src="/report-v-android-web-service/androidws_cp_1.png" alt="Página de inicio de IntelliJ IDEA" /> <img src="/report-v-android-web-service/androidws_cp_2.png" alt="Nombre del proyecto" /> <img src="/report-v-android-web-service/androidws_cp_3.png" alt="Nombre del paquete y configuración de dispositivo" /> <img src="/report-v-android-web-service/androidws_cp_4.png" alt="Estamos listos para empezar" /></p>
<h3 id="la-página-principal">La página principal</h3>
<p>La siguiente figura muestra como lucirá la página principal de nuestra aplicación:</p>
<figure>
<img src="/report-v-android-web-service/androidws_home.png" alt="Página principal" />
<figcaption aria-hidden="true">Página principal</figcaption>
</figure>
<p>El diseño correspondiente en XML es el siguiente:</p>
<pre><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
              android:orientation=&quot;vertical&quot;
              android:layout_width=&quot;match_parent&quot;
              android:layout_height=&quot;match_parent&quot;&gt;


    &lt;LinearLayout
            android:orientation=&quot;horizontal&quot;
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:layout_gravity=&quot;center&quot;&gt;
        &lt;ImageView
                android:layout_width=&quot;70dp&quot;
                android:layout_height=&quot;70dp&quot;
                android:id=&quot;@+id/imageView&quot;
                android:background=&quot;@drawable/ic_itch&quot;/&gt;
        &lt;TextView
                android:layout_width=&quot;wrap_content&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;Desarrollo de Aplicaciones kara Tecnologías Móviles&quot;
                android:id=&quot;@+id/textView&quot; android:layout_gravity=&quot;center&quot;
                android:paddingLeft=&quot;10dp&quot; android:textSize=&quot;16dp&quot;/&gt;
    &lt;/LinearLayout&gt;
    &lt;LinearLayout
            android:orientation=&quot;vertical&quot;
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;fill_parent&quot; android:layout_gravity=&quot;center&quot;
            android:gravity=&quot;center_vertical&quot;&gt;
        &lt;ListView
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:id=&quot;@+id/listView&quot;/&gt;
        &lt;Button
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;Enviar registros al servidor&quot;
                android:id=&quot;@+id/put_registers_button&quot;
                android:layout_gravity=&quot;center&quot;/&gt;
        &lt;Button
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;Limpiar registros y actualizar catalogos&quot;
                android:id=&quot;@+id/update_catalogs_button&quot;/&gt;
    &lt;/LinearLayout&gt;
&lt;/LinearLayout&gt;</code></pre>
<p>El siguiente listado muestra como se programa el comportamiento de los dos botones:</p>
<pre><code>@Override
public void onCreate(Bundle savedInstanceState)
{
    super.onCreate(savedInstanceState);
    setContentView(R.layout.home);

    Button updateButton = (Button)findViewById(R.id.update_catalogs_button);
    updateButton.setOnClickListener(new View.OnClickListener() {
        @Override
        public void onClick(View view)
        {
            Toast.makeText(getApplicationContext(), &quot;!Espere, por favor!&quot;,
                           Toast.LENGTH_SHORT).show();
            DBManager.clean(database);
            Spinner clientSpinner = (Spinner)shopActivity
                                        .findViewById(R.id.client_list);
            try {
                ArrayList&lt;Client&gt; clients = WebService.queryClients();
                ArrayAdapter&lt;Client&gt; adapter =
                        new ArrayAdapter&lt;Client&gt;(getApplicationContext(),
                                android.R.layout.select_dialog_item,
                                clients);

                clientSpinner.setAdapter(adapter);
                clientSpinner.setBackgroundColor(Color.GRAY);

                int n = clients.size();
                for (int i = 0; i &lt; n; i++)
                    DBManager.insertClient(clients.get(i), database);

            } catch (Exception e) {
                Log.e(&quot;EXCEPTION&quot;, e.toString());
            }


            Spinner productSpinner = (Spinner)shopActivity
                                        .findViewById(R.id.product_list);
            try {
                ArrayList&lt;Product&gt; products = WebService.queryProducts();
                ArrayAdapter&lt;Product&gt; adapter =
                        new ArrayAdapter&lt;Product&gt;(getApplicationContext(),
                                android.R.layout.select_dialog_item,
                                products);

                int n = products.size();
                for (int i = 0; i &lt; n; i++)
                    DBManager.insertProduct(products.get(i), database);

                productSpinner.setAdapter(adapter);
                productSpinner.setBackgroundColor(Color.GRAY);
            } catch (Exception e) {
                Log.e(&quot;EXCEPTION&quot;, e.toString());
            }

            Toast.makeText(getApplicationContext(), &quot;!Listo!&quot;, Toast.LENGTH_SHORT).show();
        }
    });

    Button putButton = (Button)findViewById(R.id.put_registers_button);
    putButton.setOnClickListener(new View.OnClickListener() {
        @Override
        public void onClick(View view)
        {
            ArrayList&lt;Request&gt; R = DBManager.selectRequests(database);
            ArrayList&lt;Detail&gt; D = DBManager.selectDetails(database);
            try {
                Toast.makeText(getApplicationContext(),
                               &quot;!Espere, por favor!&quot;,
                               Toast.LENGTH_SHORT).show();
                WebService.putRegisters(R, D);
                Toast.makeText(getApplicationContext(), &quot;!Listo!&quot;,
                               Toast.LENGTH_SHORT).show();
            } catch (Exception e) {
                Log.e(&quot;EXCEPTION&quot;, e.toString());
            }
        }
    });

}</code></pre>
<h3 id="registro-de-pedidos">Registro de pedidos</h3>
<p>A continuación se ilustra la interfaz para registrar pedidos.</p>
<figure>
<img src="/report-v-android-web-service/androidws_shop.png" alt="Registro de pedidos" />
<figcaption aria-hidden="true">Registro de pedidos</figcaption>
</figure>
<p>La interfaz esta descrita de la siguiente manera:</p>
<pre><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;linearlayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
              android:orientation=&quot;vertical&quot;
              android:layout_width=&quot;match_parent&quot;
              android:layout_height=&quot;match_parent&quot;&gt;
    &lt;linearlayout
            android:orientation=&quot;vertical&quot;
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;280dp&quot; android:layout_gravity=&quot;center&quot;
            android:gravity=&quot;top&quot;&gt;
        &lt;linearlayout
                android:orientation=&quot;horizontal&quot;
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;50dp&quot;
                android:layout_gravity=&quot;center&quot;&gt;
            &lt;spinner
                    android:layout_width=&quot;200dp&quot;
                    android:layout_height=&quot;fill_parent&quot;
                    android:id=&quot;@+id/product_list&quot;
                    android:layout_gravity=&quot;center&quot;/&gt;
            &lt;edittext
                    android:layout_width=&quot;60dp&quot;
                    android:layout_height=&quot;fill_parent&quot;
                    android:id=&quot;@+id/amount_text&quot;
                    android:layout_gravity=&quot;center&quot;
                    android:inputtype=&quot;phone&quot;
                    /&gt;
            &lt;button
                    android:layout_width=&quot;fill_parent&quot;
                    android:layout_height=&quot;fill_parent&quot;
                    android:id=&quot;@+id/add_item_button&quot;
                    android:text=&quot;+&quot;/&gt;
        &lt;/linearlayout&gt;
        &lt;listview
                android:layout_width=&quot;wrap_content&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:id=&quot;@+id/new_items_list&quot;
                android:layout_gravity=&quot;center&quot;/&gt;
    &lt;/linearlayout&gt;

    &lt;linearlayout
            android:orientation=&quot;vertical&quot;
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;fill_parent&quot; android:layout_gravity=&quot;center&quot;
            android:gravity=&quot;bottom&quot;&gt;


        &lt;spinner
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:id=&quot;@+id/client_list&quot;
                android:layout_gravity=&quot;center&quot;/&gt;
        &lt;button
                android:layout_width=&quot;fill_parent&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;guardar pedido&quot;
                android:id=&quot;@+id/save_request_button&quot;
                android:layout_gravity=&quot;center&quot;/&gt;
    &lt;/linearlayout&gt;
&lt;/linearlayout&gt;</code></pre>
<p>La lógica detrás del botón que agrega artículos a la lista (“+”) es la siguiente:</p>
<pre><code>Button addItemButton = (Button)findViewById(R.id.add_item_button);
addItemButton.setOnClickListener(new View.OnClickListener() {
    @Override
    public void onClick(View view)
    {
        EditText editText = (EditText)findViewById(R.id.amount_text);

        int amount = 0;
        try {
            amount = Integer.parseInt(editText.getText().toString());
        } catch (NumberFormatException e) {
            Toast.makeText(getApplicationContext(),
                    &quot;La cantidad no es válida.&quot;,
                    Toast.LENGTH_LONG).show();
            return;
        }

        Spinner products = (Spinner)findViewById(R.id.product_list);
        Product p = (Product)products.getSelectedItem();

        Detail detail = new Detail();
        detail.setIdProduct(p.getIdProduct());
        detail.setAmount(amount);
        detail.setDescription(p.getDescription());
        detailList.add(detail);
        detailArrayAdapter.notifyDataSetChanged();

        editText.setText(&quot;&quot;);
    }
    });</code></pre>
<p>Ahora para el botón que almacena el pedido en la base de datos:</p>
<pre><code>Button saveRequestButton;
saveRequestButton = (Button)findViewById(R.id.save_request_button);
saveRequestButton.setOnClickListener(new View.OnClickListener() {
    @Override
    public void onClick(View view)
    {
        if (detailList.isEmpty()) {
            Toast.makeText(getApplicationContext(),
                    &quot;No hay artículos que guardar.&quot;,
                    Toast.LENGTH_SHORT).show();
            return;
        }

        Spinner clientSpinner = (Spinner)findViewById(R.id.client_list);
        Client client = (Client)clientSpinner.getSelectedItem();
        int idClient = client.getIdClient();
        Request request = new Request();
        request.setIdClient(idClient);
        request.setRequestDate(rightNow());
        long idRequest = DBManager.insertRequest(request, database);

        boolean ok = true;

        if (idRequest == -1) {
            Toast.makeText(getApplicationContext(),
                    &quot;Ocurrio error al intentar guardar el pedido.&quot;,
                    Toast.LENGTH_LONG).show();
            return;
        }

        int n = detailList.size();
        for (int i = 0; i &lt; n; i++) {
            Detail detail = detailList.get(i);
            detail.setIdRequest((int)idRequest);
            long id = DBManager.insertDetail(detail, database);
            if (id == -1) {
                Toast.makeText(getApplicationContext(),
                        &quot;ERROR AL INSERTAR DETALLE&quot;,
                        Toast.LENGTH_LONG).show();
                ok = false;
            }
        }

        if (ok) {
            detailList.clear();
            detailArrayAdapter.notifyDataSetChanged();

            Toast.makeText(getApplicationContext(),
                    &quot;El pedido se guardo satisfactoriamente.&quot;,
                    Toast.LENGTH_SHORT).show();
        }

    }
});</code></pre>
<h3 id="consulta-de-pedidos">Consulta de pedidos</h3>
<p>Nuestra aplicación también permite visualizar la lista de pedidos que tenemos en nuestra base de datos local.</p>
<figure>
<img src="/report-v-android-web-service/androidws_query.png" alt="Consulta de pedidos" />
<figcaption aria-hidden="true">Consulta de pedidos</figcaption>
</figure>
<p>El código XML que describe a esta interfaz es el siguiente:</p>
<pre><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
              android:orientation=&quot;vertical&quot;
              android:layout_width=&quot;fill_parent&quot;
              android:layout_height=&quot;fill_parent&quot;&gt;

    &lt;LinearLayout
            android:orientation=&quot;horizontal&quot;
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;40dp&quot;
            android:gravity=&quot;center_vertical&quot;&gt;
        &lt;TextView
                android:layout_width=&quot;wrap_content&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;Lista de pedidos:&quot;
                android:id=&quot;@+id/textView&quot;
                android:layout_gravity=&quot;left|center_vertical&quot;
                android:layout_weight=&quot;1&quot;/&gt;
        &lt;Button
                android:layout_width=&quot;wrap_content&quot;
                android:layout_height=&quot;wrap_content&quot;
                android:text=&quot;Actualizar&quot;
                android:id=&quot;@+id/refresh_query_button&quot;
                android:layout_gravity=&quot;center&quot;
                android:layout_weight=&quot;1&quot;/&gt;
    &lt;/LinearLayout&gt;
    &lt;ListView
            android:layout_width=&quot;fill_parent&quot;
            android:layout_height=&quot;fill_parent&quot;
            android:id=&quot;@+id/request_list&quot;/&gt;
&lt;/LinearLayout&gt;</code></pre>
<p>Y la lógica detrás del botón “Actualizar” es:</p>
<pre><code>@Override
public void onCreate(Bundle savedInstanceBundle)
{
    super.onCreate(savedInstanceBundle);
    setContentView(R.layout.search);

    ListView listView = (ListView)findViewById(R.id.request_list);
    requests = new ArrayList&lt;String&gt;();
    requestAdapter = new RequestAdapter(this, requests);
    listView.setAdapter(requestAdapter);
    Button refreshButton = (Button)findViewById(R.id.refresh_query_button);
    refreshButton.setOnClickListener(new View.OnClickListener() {
        @Override
        public void onClick(View view)
        {
            ArrayList&lt;String&gt; items = DBManager.queryRequests(database);
            requests.clear();
            for (int i = 0; i &lt; items.size(); i++)
                requests.add(items.get(i));

            requestAdapter.notifyDataSetChanged();
        }
    });
}</code></pre>
<p>Hasta aquí las explicaciones, al final se proporciona el código completo de la aplicación.</p>
<h2 id="código-fuente">Código fuente</h2>
<p>El código del servidor y del cliente están disponibles en Bitbucket en las siguientes direcciones:</p>
<p><a href="https://bitbucket.org/rendon/request_ws">https://bitbucket.org/rendon/request_ws</a> <a href="https://bitbucket.org/rendon/requisition_android">https://bitbucket.org/rendon/requisition_android</a></p>
<p>O bien pueden clonar los proyectos:</p>
<pre><code>$ git clone https://rendon@bitbucket.org/rendon/request_ws.git
$ git clone https://rendon@bitbucket.org/rendon/requisitionandroid.git</code></pre>
<p>La licencia del Web service y de la aplicación cliente es GPLv3.</p>
<h2 id="por-hacer">Por hacer</h2>
<p>Mejorar la interfaz gráfica. La personalización de los elementos gráficos es un poco tediosa, al menos en la version 2.3, espero que esto halla mejorado en las versiones más recientes.</p>
<h2 id="referencias">Referencias</h2>
<ul>
<li><a href="https://developer.android.com/index.html">Documentación de Android</a></li>
</ul>

