<!-- vim: set spelllang=es_mx: -->
<h1 id="bash">Bash</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2016-02-18</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-07</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#sysadmin</code> <code>#linux</code> <code>#post</code></span>
</p>

<p><strong>NOTA</strong>: Este artículo fue publicado originalmente en <a href="http://revista.atixlibre.org/?p=271">ATIX</a>, revista de software libre.</p>
<p><img src="/bash/hdud2_0.png" /></p>
<blockquote>
El Bourne Again Shell es el poderoso interprete de comandos por defecto en la mayoría de los sistemas UNIX y una herramienta indispensable de todo desarrollador.
</blockquote>
<p>Alguna vez la única manera de interactuar con un ordenador fue mediante comandos, hasta que se inventaron las interfaces gráficas. Hoy día abundan las GUIs y se han desarrollado programas para casi cualquier propósito, sin embargo, diferente a lo que muchos podrían pensar, la línea de comandos no ha muerto, grandiosas aplicaciones aun se desarrollan en esta modalidad, <code>git</code>, <code>ffmpeg</code>, <code>vim</code>, <code>wicd</code>, <code>ncmpcpp</code>, <code>mplayer</code>, <code>alsamixer</code>, frameworks como Ruby on Rails, Play Web y DJango, además del gran número de comandos clásicos para la administración del sistema operativo.</p>
<p>Como administradores y/o desarrolladores el interprete de comandos no es opcional, es y seguirá siendo nuestro pan de cada día. Bash es un interprete de comandos y un lenguaje de programación, el Bourne Again Shell es la versión del Bourne Shell creada por el proyecto GNU.</p>
<p>Este artículo no es un tutorial sobre comandos UNIX ni un manual de referencia con descripciones exhaustivas sino más bien una guía rápida específicamente a cerca de Bash. Al final proporciono algunas referencias para profundizar sobre los temas si a así lo desean.</p>
<h2 id="inicio-de-sesión">Inicio de sesión</h2>
<p>El primer paso a dar es invocar el comando bash, el cual obedece la sintaxis <code>bash [opciones] [archivo]</code>, los elementos entre corchetes son opcionales. Lo más probable es que Bash sea interprete de comandos por defecto y no tendrá que ejecutarlo ya que el emulador de terminal lo ejecuta por usted, aunque no esta demás saber algunas cosas. Opciones:</p>
<pre theme="slate">
-i
    Crea un shell interactivo.
--norc
    No leer el archivo ~/.bashrc.
--posix
    Habilita el modo POSIX. Limita el comportamiento de bash al estándar POSIX.
--rcfile archivo
    Indica a bash que lea la configuración de inicio desde archivo y no desde ~/.bashrc
-, --
    Termina el análisis de los parámetros.
</pre>
<p><strong>Listado 1.</strong> Opciones del comando bash.</p>
<p>Si se indica el nombre de un archivo como argumento bash lo interpretará como un script(se verá más adelante) e intentará ejecutarlo.</p>
<h2 id="configuración-de-entorno">Configuración de entorno</h2>
<p>Bash admite personalización y lo hace mediante archivos de configuración:</p>
<ul>
<li>
<code>/etc/profile</code>. Se ejecuta automáticamente al iniciar sesión.
</li>
<li>
<code>~/.bash_profile</code>, <code>~/.bash_login</code> o <code>~/.profile</code>. El primer archivo que se encuentre, en este orden. Se ejecuta automáticamente al iniciar sesión.
</li>
<li>
<code>~/.bashrc</code>. Se utiliza en en situaciones distintas al inicio de sesión.
</li>
</ul>
<p>A continuación muestro algunos ejemplos de configuración.</p>
<h3 id="personalizar-el-prompt">Personalizar el prompt</h3>
<p>El prompt es el indicador que le precede a todo lo que tecleamos en la terminal, por ejemplo, <code>rendon@intel:~$</code> o <code>root@intel:~#</code>. El contenido del prompt se almacena en la variable de entorno <code>PS1</code>, veamos dos ejemplos: El más común:</p>
<pre theme="slate">
$ export PS1='\u@\h:\w$ '
usuario@host:directorio_actual$   #resultado
</pre>
<p>Con colores:</p>
<pre lang="bash" theme="slate">
PS1='[\e[0;32m][\t][\e[1;34m]\u[\e[0;37m][\e[1;37m]@\h~$ [\e[1;37m]'
</pre>
<figure>
<img src="/bash/hdud2_1.png" alt="Prompt con colores" />
<figcaption aria-hidden="true">Prompt con colores</figcaption>
</figure>
<p>En la definición del prompt se han utilizados algunos valores especiales para obtener información del sistema, tales como la hora, nombre de usuario, host, directorio actual, entre otras.</p>
<pre theme="slate">
\u Nombre del usuario actual.
\h Nombre del host.
\t La hora del sistema.
\d Fecha.
\w Directorio actual.
</pre>
<p><strong>Listado 2</strong>. Valores especiales.</p>
<p>En [2] encontrarán bastante información sobre el prompt y los colores.</p>
<h3 id="variables-de-entorno">Variables de entorno</h3>
<p>Las variables de entorno son datos que utiliza el sistema operativo o ciertas aplicaciones para ubicar recursos, por ejemplo, la variable <code>PATH</code> contiene un listado de directorios de donde el SO tiene que buscar programas, o <code>JAVA_HOME</code> que almacena la dirección del directorio de instalación de Java, <code>PS1</code> que ya se vio en la sección anterior. El comando export permite declarar variables de entorno.</p>
<pre lang="bash" theme="slate">
export JAVA_HOME="/usr/local/jdk1.7.0_09"
export PATH="${PATH}:/usr/local/mis_programas"
</pre>
<h3 id="alias">Alias</h3>
<p>Los alias son a grandes rasgos atajos para comandos que nos ayudan a no teclear tanto o dar nombres más significativos a ciertas acciones, ejemplos:</p>
<pre lang="bash" theme="slate">
alias apt-get="sudo apt-get"
alias grep="grep --color=always"
alias ls='ls $LS_OPTIONS'
</pre>
<p>Al intentar ejecutar <code>grep</code> lo que realmente se ejecuta es <code>grep --color=always</code> y así con los demás comandos.</p>
<h3 id="modos-de-edición">Modos de edición</h3>
<p>Bash tiene dos modos de edición, emacs y vi, que permiten trabajar de manera más eficiente y cómoda con el interprete. El modo por defecto es emacs. Una de las ventajas de estos modos de edición es que permiten trabajar sin retirar las manos de su posición básica.</p>
<p>Para habilitar estos modos de edición emplea los siguientes comandos, ya sea en modo interactivo o en el archivo de configuración para hacer el cambio permanente.</p>
<pre theme="slate">
set -o vi
set -o emacs
</pre>
<p>En [3] y [4] puede encontrar una lista detallada de comandos para los modos vi y emacs respectivamente.</p>
<h2 id="redireccionamiento">Redireccionamiento</h2>
<p>El funcionamiento básico de todo programa es recibir una entrada, procesar los datos y producir una salida. En los sistemas UNIX existen dos tipos de salida, normal y de errores. Por defecto la entrada corresponde al teclado y la salida a la pantalla.</p>
<table>
<tr>
<th>
Descriptor de archivo
</th>
<th>
Nombre
</th>
<th>
Abreviación
</th>
<th>
Por defecto
</th>
</tr>
<tr>
<td>
0
</td>
<td>
Entrada estándar
</td>
<td>
stdin
</td>
<pre><code>&lt;td&gt;Teclado&lt;/td&gt;&lt;/tr&gt;</code></pre>
<tr>
<td>
1
</td>
<td>
Salida estándar
</td>
<td>
stdout
</td>
<td>
Pantalla
</td>
</tr>
<tr>
<td>
2
</td>
<td>
Error estándar
</td>
<pre><code>&lt;td&gt;stderr&lt;/td&gt;   &lt;td&gt;Pantalla&lt;/td&gt;&lt;/tr&gt;</code></pre>
</table>
<p><strong>Tabla 1</strong>. Entradas y salidas en UNIX.</p>
<p>La redirección de datos permite modificar el comportamiento normal de los programas con respecto a la entrada y salida de datos, a continuación un resumen con ejemplos de algunos tipos de redirección:</p>
<h3 id="comando-archivo">comando &gt; archivo</h3>
<p>Redirecciona la salida de comando a archivo(el archivo se sobrescribe). Ej.</p>
<pre lang="bash" theme="slate">
$ ls -1 > salida.txt
</pre>
<h3 id="comando-archivo-1">comando &lt; archivo</h3>
<p>El comando toma la entrada desde archivo. Ej.</p>
<pre lang="bash" theme="slate">
$ bc < entrada.txt
</pre>
<h3 id="comando-archivo-2">comando &gt;&gt; archivo</h3>
<p>Redirecciona la salida de comando a archivo(el archivo no se sobrescribe, se agrega al final). Ej.</p>
<pre lang="bash" theme="slate">
$ ls imagenes/ > archivos.txt
$ ls videos/ >> archivos.txt
</pre>
<p><em>archivos.txt</em> contiene el listado de archivos en imágenes y también los del directorio videos.</p>
<h3 id="comando-marca">comando &lt;&lt; marca</h3>
<p>Conocido como here document, todo texto que se tecleé después de marca hasta encontrar nuevamente a marca se tomará como la entrada del programa, marca no forma parte de la entrada. Ej.</p>
<pre lang="bash" theme="slate">
$cat > salida.txt <<EOF
> linea 1
> linea 2
>EOF
</pre>
<p>El texto entre <code>EOF</code> y <code>EOF</code> se almacena en el archivo <code>salida.txt</code>.</p>
<h3 id="comando-cadena">comando &lt;&lt;&lt; cadena</h3>
<p>Conocido como <em>here string</em>, “cadena” es tomada como entrada de “comando”, muy útil. Ej.</p>
<pre lang="bash" theme="slate">
$ bc <<< "(2^10 + 6)/2"
</pre>
<h3 id="comando-narchivo">comando n&gt;archivo</h3>
<p>Redirecciona la salida que normalmente iría al descriptor de archivo <em>n</em> a archivo. Ej.</p>
<pre theme="slate">
$ gcc > error.txt
  gcc: fatal error: no input files
  compilation terminated.
$ cat error.txt
$
$ gcc 2> error.txt
$ cat error.txt
  gcc: fatal error: no input files
  compilation terminated.
</pre>
<p>El primer ejemplo de redirección no funciona y el archivo <code>error.txt</code> esta vació porque los mensajes de error de <code>gcc</code> van dirigidos al descriptor de errores(2) y no al descriptor de salida(1). El segundo ejemplo logra su objetivo.</p>
<h3 id="comando-n">comando &lt;&amp;n</h3>
<p>Toma la entrada para comando desde el descriptor de archivo n. Ej.</p>
<pre lang="bash" theme="slate">
$ echo "(3 * 4)/2" > entrada.txt
$ exec 5&lt;entrada.txt 
$ bc &lt;&5
6
</pre>
<h3 id="comando-archivo-3">comando &amp;&gt; archivo</h3>
<p>Envía la salida estándar y errores a archivo.</p>
<h3 id="comando-salida.txt-2-errores.txt">comando &gt; salida.txt 2&gt; errores.txt</h3>
<p>Envía la salida a <code>salida.txt</code> y los errores a <code>errores.txt</code>.</p>
<h3 id="comando-tee-salida.txt">comando | tee salida.txt</h3>
<p>Envía la salida de <em>comando</em> a <code>tee</code> para que lo muestre en pantalla y a la ves lo almacene en el archivo <code>salida.txt</code>.</p>
<p>Tenga cuidado con los espacios, no todas las redirecciones permiten espacios antes o después de <code>&amp;lt;</code> y <code>&amp;gt;</code>.</p>
<h2 id="tuberías-y-substitución-de-procesos">Tuberías y substitución de procesos</h2>
<h3 id="comando1-comando2">comando1 | comando2</h3>
<p><em>comando2</em> toma como entrada la salida generada por <em>comando1</em>. Ej.</p>
<pre lang="bash" theme="slate">
$ ls -1 | grep ".*txt"
$ echo "1 9 7 1 2 9 2 1" | tr ' ' '\n' |  sort -n | uniq
</pre>
<h3 id="comando-comandos">comando &lt;(comandos)</h3>
<p><em>comando</em> toma como entrada la salida de <em>comandos</em>. Ej.</p>
<pre lang="bash" theme="slate">
$ uniq <(echo "1 9 7 1 2 9 2 1" | tr ' ' '\n' |  sort -n)
</pre>
<h2 id="bash-como-lenguaje-de-programación">Bash como lenguaje de programación</h2>
<p>En este apartado vamos a ver algunas de las características de Bash que le permiten funcionar como un lenguaje de programación. Cabe de decir que Bash no es un lenguaje de propósito general sino más bien orientado a la administración de sistemas y automatización de tareas.</p>
<h3 id="variables">Variables</h3>
<p>Una variable es un identificador que almacena cierto valor, veamos como definir una.</p>
<pre lang="bash" theme="slate">
$ nombre="Rafael"
$ declare -i edad=20+3 #variables de tipo entero
$ idiomas=(español ingles latín hebreo chino) 
</pre>
<p>Las reglas para nombrar variables son las mismas que en la mayoría de los lenguajes: letras, guion bajo, números, el nombre no debe iniciar con número. Para recuperar el valor de una variable anteponga un $ al nombre de la variable.</p>
<pre lang="bash" theme="slate">
$ echo "Mi nombre es $nombre,  tengo $edad años y hablo ${idiomas[@]}."
Mi nombre es Rafael,  tengo 23 años y hablo español ingles latín hebreo chino.
</pre>
<h4 id="variables-predefinidas">Variables predefinidas</h4>
<p>Bash define algunas variables por defecto, muy útiles cuando trabajamos con scripts.</p>
<pre theme="slate">
$#    Número de argumentos pasados a un comando.
$?    Valor de salida del último comando.
$0    Nombre del comando que se esta ejecutando.
$n    Valores de los argumentos. $1 es el primer
      parámetro, $2 el segundo parámetro, etc.
"$*"  Todos los argumentos como una cadena 
      ("$1 $2 ...").
"$@"  Todos los argumentos entre comillas dobles
      de forma individual.
</pre>
<h3 id="arreglos">Arreglos</h3>
<p>Bash provee dos tipos de arreglos, basados en índices(los índices son números) y asociativos(los índices son cadenas).</p>
<pre lang="bash" theme="slate">
$ idiomas=(español ingles latín hebreo chino)
$ echo ${idiomas[0]}
español
$ echo ${idiomas[1]}
ingles
$ declare -A P=( [mexico]=52 [bolivia]=591 [canada]=11 )
$ echo ${P[mexico]}
52
</pre>
<h4 id="operaciones-sobre-arreglos">Operaciones sobre arreglos:</h4>
<pre lang="bash" theme="slate">
${arreglo[i]} Valor en el índice i
${arreglo[*]} Todos los elementos
${arreglo[@]} Todos los elementos
${#name[*]}   Número de elementos en el arreglo
${#name[@]}   Número de elementos en el   arreglo
</pre>
<h3 id="expresiones-aritméticas">Expresiones aritméticas</h3>
<p>Las operaciones aritméticas se puede realizar con <code>$((</code> <em>expresión</em> <code>))</code>.</p>
<pre lang="bash" theme="slate">
$ echo $(( (2**10)/2 ))
512
$ a=3; b=10;
$ echo $(( a += b ))
$ echo $a
13
</pre>
<p>Los operadores en su mayoría son los mismos que en C/C++, salvo algunas excepciones, la exponenciación(**), por ejemplo.</p>
<h3 id="estructuras-de-control">Estructuras de control</h3>
<p>Las estructuras de control permiten guiar el flujo de ejecución de un programa. Bash provee <code>if</code>, <code>if ... else</code> y <code>if ... elif ... else</code>.</p>
<h4 id="if">If</h4>
<pre theme="slate">
if COMANDOS-DE-PRUEBA
then
  BLOQUE-DE-COMANDOS
fi
</pre>
<p>Ej.</p>
<pre lang="bash" theme="slate">
if [ $edad -lt 18 ]
then
  echo "Fuera de aquí. Solo para adultos.";
fi
</pre>
<h4 id="if-else">If … else</h4>
<pre theme="slate">
if COMANDOS-DE-PRUEBA
then
  BLOQUE-DE-COMANDOS-1
else
  BLOQUE-DE-COMANDOS-2
fi
</pre>
<p>Ej.</p>
<pre lang="bash" theme="slate">
if [ $edad -ge 18 ]
then
  echo "Adelante.";
else
  echo "Fuera de aquí. Solo para adultos.";
fi
</pre>
<h4 id="if-elif-else">If … elif … else</h4>
<pre theme="slate">
if COMANDOS-DE-PRUEBA
then
  BLOQUE-DE-COMANDOS-1
elif COMANDOS-DE-PRUEBA
  BLOQUE-DE-COMANDOS-2
fi
</pre>
<p>Ej.</p>
<pre lang="bash" theme="slate">
if [ $edad -ge 18 ]
then
  echo "Adelante.";
elif [ $influyente ]
  echo "Adelante por favor";
else
  echo "Fuera de aquí. Solo para adultos.";
fi
</pre>
<p>Para las comparaciones he utilizado algunos operadores diferentes a los convencionales, como son</p>
<pre theme="slate">
-lt   Menor que.
-ge   Mayor o igual a.
</pre>
<p>Véase <code>man [</code> para más información sobre los operadores de comparación.</p>
<h3 id="estructuras-de-repetición">Estructuras de repetición</h3>
<p>Bash soporta las estructuras while y for para repetición de operaciones. Su sintaxis es la siguiente.</p>
<h4 id="for">For</h4>
<pre theme="slate">
for argumento in [lista]
do
  comando(s)...
done
</pre>
<p>Ej.</p>
<pre lang="bash" theme="slate">
for i in {1..10}
do
  echo $(( i**2 ));
done
</pre>
<h4 id="while">While</h4>
<pre theme="slate">
while [ condición ]
do
  comando(s)...
done
</pre>
<p>Ej.</p>
<pre lang="bash" theme="slate">
while read archivo
do
  rm "$archivo";
done < <(ls -1)
</pre>
<h2 id="scripts">Scripts</h2>
<p>Un script no es más que una serie de comandos y operaciones guardados en un archivo, listos para ser ejecutados por Bash. La estructura de un script es la siguiente.</p>
<pre theme="slate">
#!/bin/bash

VARIABLES_DE_CONFIGURACION

DEFINICION_DE_FUNCIONES

CODIGO_PRINCIPAL

EXIT_CODE
</pre>
<p>La primer línea especifica con que comando deben ser ejecutados los comandos en el archivo. El contenido de la primera línea es conocido como <em>shebang</em>. Para finalizar les dejo un pequeño script donde se emplean algunos elementos ya vistos, es un script muy sencillo que empleo para configurar un directorio con plantillas de código en diferentes lenguajes para usarse durante un concurso de programación.</p>
<pre lang="bash" theme="slate">
#!/bin/bash
PC="/home/data/cs/pc";

if [ $1 = "-f" ]
then
  if [ -z $2 ]
  then
    echo "Provide a file name!";
    exit;
  fi

  # file name
  fn=$(sed 's/\([^.]\+\).*$/\1/g' <<< $2);
  # file type
  ft=$(sed 's/[^.]\+.\(.\+\)$/\1/g' <<< $2);

  if [ $ft != "cpp" -a $ft != "java" -a $ft != "py" -a $ft != "rb" ]
  then
    echo "File type($ft) not supported :(!";
    exit;
  fi

  if [ $ft = "java" ]
  then
    sed "s/Main/$fn/g" < "$PC/TEMPLATE/Main.java" > "$fn.$ft";
  else
    cp "$PC/TEMPLATE/template.$ft" "$fn.$ft";
  fi

else
  if    [ $1 = "codeforces" ]; then list=({A..E});
  elif  [ $1 = "cookoff"    ]; then list=({A..E});
  elif  [ $1 = "challenge"  ]; then list=({A..J});
  elif  [ $1 = "hackercup"  ]; then list=({A..C});
  fi;

  for problem in ${list[@]}
  do
    mkdir $problem;
    cd $problem;
    cp "$PC/TEMPLATE/template.cpp" "$problem.cpp";
    cp "$PC/TEMPLATE/template.rb"  "$problem.rb";
    cp "$PC/TEMPLATE/template.py"  "$problem.py";
    sed "s/Main/$problem/g" < "$PC/TEMPLATE/Main.java" > "$problem.java";
    cd ..;
  done

fi

exit 0;
</pre>
<p><strong>Script 1</strong>: setcontest.sh</p>
<p>Existen básicamente dos formas de ejecutar un script. Invocar bash pasando como argumento el archivo o dando permisos de ejecución al script y se ejecuta como cualquier otro comando.</p>
<pre theme="slate">
$ bash mi_script.sh      # primera forma

$ chmod +x mi_script.sh  # segunda forma
$ ./mi_script.sh
</pre>
<h2 id="conclusión">Conclusión</h2>
<p>Bash es una herramienta poderosa y extensa, hablar a profundidad del tema involucraría cientos de páginas y ciertamente el autor de este artículo no cuenta con el conocimiento suficiente. En este documento solo hemos visto algunas de las características básicas pero que considero suficiente para iniciarse. Además recalcar que lo antes visto es unicamente referente a Bash, en futuras publicaciones escribiré sobre ciertos programas que agregan funcionalidad a la linea de comandos.</p>
<h2 id="referencias">Referencias</h2>
<table>
<tr>
<td>
[1]
</td>
<td>
Bash Pocket reference, Arnold Robbins, O’Reily.
</td>
</tr>
<tr>
<td>
[2]
</td>
<td>
<a href="https://wiki.archlinux.org/index.php/Color_Bash_Prompt">Color Bash Prompt</a>, Archilinux.org
</td>
</tr>
<tr>
<td>
[3]
</td>
<td>
<a href="http://www.catonmat.net/blog/bash-vi-editing-mode-cheat-sheet/">Working Productively in Bash’s Vi Command Line Editing Mode</a>, catonmat.net
</td>
</tr>
<tr>
<td>
[4]
</td>
<td>
<a href="http://www.catonmat.net/blog/bash-emacs-editing-mode-cheat-sheet/">Bash Emacs Editing Mode Cheat Sheet</a>, catonmat.net
</td>
</tr>
</table>

