<!-- vim: set spelllang=es_mx: -->
<!-- slug: cifrar dispositivo con LUKS -->
<h1 id="cifrar-dispositivos-con-luks">Cifrar dispositivos con LUKS</h1>
<p>Hola a todos, espero que se encuentren bien. Mi nombre es Rafael. En este vídeo les muestro como cifrar un dispositivo en Linux para que puedan guardar información de manera segura.</p>
<p>Debo mencionar, que el enfoque de este vídeo es datos personales, no de una empresa o aplicación.</p>
<p>Probablemente no sea necesario explicar la importancia de respaldar nuestros datos. Sin embargo, quizá menos sabido es que una copia no es suficiente. El principio del 3-2-1:</p>
<ul>
<li>3 copias</li>
<li>2 medios (discos &amp; USB)</li>
<li>1 de ellos debe ser externo (por ejemplo, una copia en S3)</li>
</ul>
<p>Algo que yo quiero poder hacer es guardar una copia en la casa, o encargarla con alguien de confianza, pero esto no es posible si los datos no están cifrados ya que alguien podría robar el dispositivo.</p>
<p>Configuración inicial:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="co"># Encuentra tu dispositivo</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="ex">lsblk</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a><span class="co"># Formatea el dispositivo con formato LUKS</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a><span class="fu">sudo</span> cryptsetup luksFormat <span class="op">&lt;</span>dispositivo<span class="op">&gt;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a><span class="co"># Inspecciona</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a><span class="ex">/dev/mapper</span>/<span class="op">&lt;</span><span class="ex">nombre</span><span class="op">&gt;</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a><span class="co"># Abre dispositivo como &lt;nombre&gt;</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a><span class="fu">sudo</span> cryptsetup open <span class="op">&lt;</span>dispositivo<span class="op">&gt;</span> [<span class="op">&lt;</span>nombre<span class="op">&gt;</span>]</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a><span class="co"># Inspecciona nuevamente</span></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a><span class="ex">/dev/mapper</span>/<span class="op">&lt;</span><span class="ex">nombre</span><span class="op">&gt;</span></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a></span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true"></a><span class="co"># Crear un sistema de archivos</span></span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true"></a><span class="fu">sudo</span> mkfs.btrfs -L <span class="op">&lt;</span>label<span class="op">&gt;</span> /dev/mapper/<span class="op">&lt;</span>nombre<span class="op">&gt;</span></span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true"></a></span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true"></a><span class="co"># Cierra dispositivo</span></span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true"></a><span class="fu">sudo</span> cryptsetup close <span class="op">&lt;</span>dispositivo<span class="op">&gt;</span></span></code></pre></div>
<p>Como usar el dispositivo normalmente:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="co"># Encuentra tu dispositivo</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="ex">lsblk</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a><span class="co"># Abre dispositivo como &lt;nombre&gt;</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true"></a><span class="fu">sudo</span> cryptsetup open <span class="op">&lt;</span>dispositivo<span class="op">&gt;</span> [<span class="op">&lt;</span>nombre<span class="op">&gt;</span>]</span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true"></a></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true"></a><span class="co"># mount drive</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true"></a><span class="fu">sudo</span> mount /dev/mapper/<span class="op">&lt;</span>nombre<span class="op">&gt;</span> /mnt/</span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true"></a></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true"></a><span class="co"># Read/write data to your drive</span></span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true"></a></span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true"></a><span class="co"># unmount drive</span></span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true"></a><span class="fu">sudo</span> umount /mnt/</span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true"></a></span>
<span id="cb2-15"><a href="#cb2-15" aria-hidden="true"></a><span class="co"># Cierra dispositivo</span></span>
<span id="cb2-16"><a href="#cb2-16" aria-hidden="true"></a><span class="fu">sudo</span> cryptsetup close <span class="op">&lt;</span>dispositivo<span class="op">&gt;</span></span></code></pre></div>
<p>Pues bien, eso es todo. Recuerden guardar muy bien la contraseña. Suerte y hasta la próxima.</p>
