<p>&lt;%= tex_set(“show_numbers_in_sections”, false); %&gt; &lt;%= tex_set(“show_numbers_in_subsections”, false); %&gt;</p>
<p><img src="codeforces_logo.png" /></p>
<p>
I took part in Codeforces 172 Division II and here are my solutions for some of the problems.
</p>
<h2 id="a.-word-capitalization">A. Word capitalization</h2>
<p><a href="http://www.codeforces.com/contest/281/problem/A" title="Word capitalization">Problem description</a> ### Solution:</p>
<p>
Read the string and change the first character to uppercase.
</p>
<p>Embed: <code>a.cpp</code></p>
<h2 id="b.-nearest-fraction">B. Nearest fraction</h2>
<p><a href="http://www.codeforces.com/contest/281/problem/B" title="Nearest fraction">Problem description</a></p>
<h3 id="solution">Solution:</h3>
<p>
I could not solve the problem in the contest. My implementation is based on other contestants’ solutions. Sincerely my idea was similar but I avoided the use of floating point(supposedly to avoid precision problems) and it didn’t work well.
</p>
<p>Embed: <code>b.cpp</code></p>
<h2 id="c.-rectangle-puzzle">C. Rectangle puzzle</h2>
<p><a href="http://codeforces.com/contest/281/problem/C" title="Rectangle puzzle">Problem description</a>.</p>
<h3 id="solution-1">Solution:</h3>
<p>
Let’s call <span class="math inline"><em>R</em></span> and <span class="math inline"><em>S</em></span> the original and the rotated rectangle respectively, with corner points <span class="math inline"><em>R</em><sub><em>a</em></sub></span>, <span class="math inline"><em>R</em><sub><em>b</em></sub></span>, <span class="math inline"><em>R</em><sub><em>c</em></sub></span>, <span class="math inline"><em>R</em><sub><em>d</em></sub></span>, <span class="math inline"><em>S</em><sub><em>a</em></sub></span>, <span class="math inline"><em>S</em><sub><em>b</em></sub></span>, <span class="math inline"><em>S</em><sub><em>c</em></sub></span> and <span class="math inline"><em>S</em><sub><em>d</em></sub></span>. Initially <span class="math inline"><em>R</em></span> and <span class="math inline"><em>S</em></span> are the same.
</p>
<p>
Rotate <span class="math inline"><em>S</em></span> <span class="math inline"><em>α</em></span> degrees(take care of the special cases <span class="math inline"><em>α</em> = 0</span> and <span class="math inline"><em>α</em> = 180</span>) and, for each line segment of <span class="math inline"><em>S</em></span> check if it do intersect with any side of <span class="math inline"><em>R</em></span>(<code>isX()</code> method in the code), if so, compute the intersection point(<code>intersection()</code> method in the code) and add it to a list of point, lets call it P. Finally compute the area of the polygon formed by P(the points need to be sorted in clockwise or counterclockwise order) and, since the area is computed using cross product take the absolute value divided by two.
</p>
<p>Embed: <code>c.cpp</code></p>
<p>
These are my own solutions, feel free to comment or use the code for your own needs.
</p>

