<h1 id="ports">Ports</h1>

<p class='metadata'>
    <span class='published'><span class="fa-solid fa-clock"></span> <em>2017-10-14</em></span>
	<span class='updated'><span class="fa-solid fa-clock-rotate-left"></span> <em>2024-05-06</em></span>
    <span class='tags'><span class="fa-solid fa-tag"></span><code>#sysadmin</code> <code>#post</code></span>
</p>

<h2 id="open-up-ssh-port-or-any-other-port">Open up SSH port (or any other port)</h2>
<pre>
<p>sudo iptables -A INPUT -p tcp -s 10.0.0.0/24 –dport 22 -m conntrack –ctstate NEW,ESTABLISHED -j ACCEPT sudo iptables -A OUTPUT -p tcp –sport 22 -m conntrack –ctstate ESTABLISHED -j ACCEPT</p>
<pre><code>
## Delete rules
First off, you can delete ALL the rules using:
&lt;pre&gt;
sudo iptables -F</code></pre>
But that’s probably not what you want. In order to delete specific rules first get the list of existing rules:
<pre>
<p>$ sudo iptables -S . . . -N DOCKER-USER -A INPUT -s 10.0.0.0/24 -p tcp -m tcp –dport 22 -m conntrack –ctstate NEW,ESTABLISHED -j ACCEPT -A FORWARD -j DOCKER-USER -A FORWARD -j DOCKER-ISOLATION . . .</p>
<pre><code>
Then remove the rule you want:
&lt;pre&gt;
$ sudo iptables -D INPUT -s 10.0.0.0/24 -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT</code></pre>
<h2 id="references">References</h2>
<ul>
<li><a href="https://www.digitalocean.com/community/tutorials/iptables-essentials-common-firewall-rules-and-commands">Iptables Essentials: Common Firewall Rules and Commands</a></li>
<li><a href="https://www.digitalocean.com/community/tutorials/how-to-list-and-delete-iptables-firewall-rules">How To List and Delete Iptables Firewall Rules</a></li>
</ul>

